

$max_width: 1200px; // Largura maxima dos blocos
$maxView: 1080px; // max viewport height
$smallDevice: 880px;
$gutter: 16px !default;
$radius: 4px;




/*
 * Fonts
 */
$fontDefault: 'Oswald', serif;
$fontLight: 'Oswald', sans-serif;
$fontBold: 'Dekar', sans-serif;





/*
 * Theme palettes
 */
$palettes: (
    white: (
        base:  #fff,
        light: #eee,
        dark:  #ccc
    ),
    grey: (
        base:  #c0c0c0,
        light: lighten(#c0c0c0, 12),
        dark:  darken(#c0c0c0, 12)
    ),
    dark: (
        base:  #060606,
        light: lighten(#060606, 12),
        dark:  #000000
    ),
    primary: (
        base:  #2dacea,
        light: #2df8f9,
        dark:  #4860ae,
        black: #06426f
    ),
    alternative: (
        base:  #1d2868,
        light: lighten(#1d2868, 12),
        dark:  #202540
    ),
    calltoaction: (
        base : #1f0866,
        light: lighten(#1f0866, 12),
        dark : darken(#1f0866, 12)
    ),
    positive: (
        base:  #16ab39,
        light: lighten(#16ab39, 12),
        dark:  darken(#16ab39, 12)
    ),
    negative: (
        base:  #d01919,
        light: lighten(#d01919, 12),
        dark:  darken(#d01919, 12)
    ),


    // Aditional colors
    brown: (
        base : #533529,
        light: #fdfc98,
        dark : #472d23
    ),




    // form theme
    alert: (
        base: #edecec,
        info: #1180ca,
        success: #4ad290,
        warning: #ddab63,
        error: #d24a4a
    )
);

// Palette function (Ex.: color:palette(purple); )
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}