/*
 * Materialize Framework - Manual grid system
 * Documentation: http://materializecss.com/grid.html
 */

/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


// Grid Variables
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;



@media all and (max-width: 600px){
  
  .wrapper.row .col,
  .wrapper .row .col { padding: ($gutter-width/4) 0; }

}
@media all and (min-width: 600px){
  
  // Structure
  .row.push-row,
  .container .row,
  .form .row {
    margin-left: (-1 * $gutter-width / 2);
    margin-right: (-1 * $gutter-width / 2);
  }
  .row .col { padding: ($gutter-width / 2); }

}



.section {

  &.no-pad {
    padding: 0;
  }
  &.no-pad-bot {
    padding-bottom: 0;
  }
  &.no-pad-top {
    padding-top: 0;
  }
}

.row.collapse { margin-bottom: 0; }
.row .col.s-collapse-left { padding-left: 0; }
.row .col.s-collapse-right { padding-right: 0; }

@media #{$medium-and-up} {
  .row .col.m-collapse-left { padding-left: 0; }
  .row .col.m-collapse-right { padding-right: 0; }
}
@media #{$large-and-up} {
  .row .col.l-collapse-left { padding-left: 0; }
  .row .col.l-collapse-right { padding-right: 0; }
}


/* Cycle cols */
@media #{$small-and-down} {
  .row.cycle .col {
    &.s2:nth-of-type(5n+1),
    &.s3:nth-of-type(4n+1),
    &.s4:nth-of-type(3n+1),
    &.s6:nth-of-type(2n+1) { clear: both; }
  }
}
@media #{$medium-only} {
  .row.cycle .col {
    &.m2:nth-of-type(5n+1),
    &.m3:nth-of-type(4n+1),
    &.m4:nth-of-type(3n+1),
    &.m6:nth-of-type(2n+1) { clear: both; }
  }
}
@media #{$large-and-up} {
  .row.cycle .col {
    &.l2:nth-of-type(5n+1),
    &.l3:nth-of-type(4n+1),
    &.l4:nth-of-type(3n+1),
    &.l6:nth-of-type(2n+1) { clear: both; }
  }
}


.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    @include box-sizing(border-box);

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$i} {
        width: $perc;
        margin-left: 0;
      }
      $i: $i + 1;
    }
    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.offset-s#{$i} {
        margin-left: $perc;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.m#{$i} {
          width: $perc;
          margin-left: 0;
        }
        $i: $i + 1;
      }
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-m#{$i} {
          margin-left: $perc;
        }
        $i: $i + 1;
      }

    }

    @media #{$large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.l#{$i} {
          width: $perc;
          margin-left: 0;
        }
        $i: $i + 1;
      }
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-l#{$i} {
          margin-left: $perc;
        }
        $i: $i + 1;
      }

    }

  }
}
