
/*
 * Main banner
 */
#banner { margin: 0; overflow: hidden; @include center; }
#banner ul { margin-left: 0; }
#banner .slick-initialized .slick-slide { position: relative; z-index: 1; }


#banner .slick-next { right: 2%; }
#banner .slick-prev { left: 2%; }


/* image */
#banner  .image { width: 100%; vertical-align: top; display: block; }



@media all and (min-width: 1280px){
	#banner { padding-top: 5rem; }
}