

$color: #202f47;

/*
 * Footer
 */
.main-footer { width: 100%; @include cf; text-align: center; position: relative; z-index: 9; background-color: palette(primary, dark); color: palette(white); font-size: 14px;  }

.main-footer ul { margin: 0; }
.main-footer a { color: palette(white, light); display: inline-block; text-decoration: underline; }
.main-footer a:hover { color: palette(primary, light); text-decoration: none; }


.main-footer .footer-content { line-height: 1.4; letter-spacing: 0.05em; margin-bottom: 0; }
.main-footer .heading .title { color: palette(white); }









/* Address */
.main-footer address { font-style: normal; }
.main-footer .widget-address { @include cf; }
.main-footer .widget-address .address-item { position: relative; z-index: 1; margin-bottom: 0.75rem; }
.main-footer .widget-address .locale { color: $color; }

.main-footer .widget-address.units .address-item { @include column(1/2, $gutter:1, $cycle:2); }



/* central de atendimento */
.main-footer .central .info { color: $color; }
.main-footer .central .info,
.main-footer .mail { letter-spacing: 0.1em; }



.main-footer .footer-down .wrapper { margin-top: 0; margin-bottom: 0; }
.footer-down .goutnix a { display: inline-block; color: $color; 

	&:hover { color: palette(white); }

}



@media all and (max-width: 600px){
	.footer-down .wrapper { padding-top: 1rem; padding-bottom: 1rem; }
	.footer-down .goutnix { margin-top: 1rem; margin-bottom: 4px; }

	.main-footer .widget-address { max-width: 310px; margin: 0 auto; }
}

@media all and (max-width: 992px){
	.main-footer .heading .title { font-size: 2rem; }
}

@media all and (min-width: 600px){
	.main-footer .heading { margin-bottom: 1rem; }
	
	.main-footer .footer-down { padding: 0.75rem 0; text-align: left; letter-spacing: 0.06em; color: $color; }
	.footer-down .copyright { max-width: 50%; display: inline-block; }
	.footer-down .goutnix { float: right; display: block; }
}


@media all and (min-width: 992px){

	.main-footer .footer-content { padding-top: 0.75rem; text-align: initial; }
	.main-footer .box-social { text-align: right; }
	
}

@media all and (min-width: 1260px){
	.main-footer .footer-content { padding-top: 2rem; }
	.main-footer .title { letter-spacing: 0.16em; }
}