

.main-header { position: relative; z-index: 99; width: 100%; @include cf; @include box-sizing; background: palette(dark, dark); text-align: center; color: palette(white); }
.main-header ul { margin: 0; }
.main-header .appbar { position: relative; z-index: 3; padding: 8px; }

.main-header a { color: palette(alternative); }







/* 
 * Header logo
 */
.main-header .app-title { display: block; color: palette(white); }
.main-header .app-title .logo { display: inline-block; @include transition; @include cf; text-decoration: none; }

.main-header.horizontal { border-bottom: 4px solid palette(primary); }
.main-header.horizontal .app-title { max-width: 88px; }



/* Toolbar */
.main-header .toolbar { display: inline-block; }
.main-header .toolbar a { position: relative; text-transform: uppercase; padding: 14px 14px 14px 54px; display: block; text-align: left; font-size: 14px; letter-spacing: 0.08em; color: palette(grey, dark); margin-top: 2px; @include transition; }
.main-header .toolbar .icon { font-size: 36px; position: absolute; left: 0; top: 50%; @include transform(translateY(-50%)); color: palette(white); transition: all 0.2s ease-out; text-indent: 0; }
.main-header .toolbar .icon:after { content: ""; z-index: -1; position: absolute; left: 48%; top: 48%; background-color: palette(primary, dark); display: block; opacity: 0; @include transform(translate(-50%, -50%) scale(0.6)); @include transition; width: 48px; height: 48px; border-radius: 32px; transition-delay: 0.2s; }


.main-header .toolbar a:hover { color: palette(primary, light); }
.main-header .toolbar a:hover .icon:after { opacity: 1; @include transform(translate(-50%, -50%) scale(1.1)); }



/* 
 * Central de atendimento
 */
.main-header .central-de-atendimento { background-color: palette(white); color: palette(dark); text-align: center; padding: 12px; letter-spacing: 0.1em; display: none; }
.pg-home .main-header .central-de-atendimento { display: block; }
.central-de-atendimento .caption { line-height: 1.2; letter-spacing: 0.1em; }
.central-de-atendimento .label { color: palette(primary); line-height: 1.2; }

@media all and (min-width: 1200px){
    .central-de-atendimento .caption { letter-spacing: 0.3em; margin-bottom: 6px; }
}




/*
 * Menu
 */
.main-navigation .nav-item { padding: 12px 8px; display:block; color: palette(white); letter-spacing: 0.18em; text-transform: uppercase; }
.main-navigation .nav-item:hover { color: palette(primary, light); }



/* 
 * Menu mobile 
 */
.main-header input#togglemenu { position: absolute; left: -9999px; }
.main-header .togglemenu { position: relative; z-index: 1; border: none; @include transition; display: none; }
.main-header .togglemenu.open { color: palette(white); font-size: 1.3em; padding: 20px 12px; min-width: 42px; }

/* nav icon */
.main-header .togglemenu .ico-nav { position: relative; z-index: 2; display: block; height: 1px; width: 20px; @include transition; background-color: palette(white); margin: 18px 0; float: right;
    
    &:after, &:before { content: ""; position: absolute; right: 0; top: 50%; display: block; width: 40px; height: 100%; background-color: inherit; @include transition; transition-delay: 0.15s; }

    &:before { margin-top: -20px }
    &:after { margin-top: 18px; }


}
.main-header .togglemenu .label { display: block; padding: 10px 48px 10px 12px; font-size: 16px; text-transform: uppercase; letter-spacing: 0.2em; line-height: 1; @include transition; }
.main-header .togglemenu:hover .ico-nav { background-color: palette(primary); }

@media all and (min-width: 420px){
    .main-header .togglemenu.open { min-width: 40px; }
    .main-header .togglemenu .label { padding-right: 60px; }
    .main-header .togglemenu .ico-nav { width: 24px;

        &:after, 
        &:before { width: 48px; }

    }
}




/* Nav active */
#togglemenu:checked ~ {
    .togglemenu.close,
    .main-navigation { visibility: visible; opacity: 1; @include transform(translateX(0)); @include transition; }

    .togglemenu { color:palette(primary, light); }

    .togglemenu .ico-nav { width: 0; background-color:transparent; }
    .togglemenu .ico-nav:before, 
    .togglemenu .ico-nav::after { margin-top: 0; background-color: palette(primary, light); }

    // icon closed
    .togglemenu.open { z-index: 99; }
    .togglemenu .ico-nav::before { @include transform(rotate(-45deg)); }
    .togglemenu .ico-nav::after { @include transform(rotate(45deg)); }
}




@media all and (max-width: 480px){
    .main-header .togglemenu.open { font-size: 13px; }
}
@media all and (max-width: $smallDevice){

    /* logo */
    .main-header .app-title img { max-width: 62px; }


    /* main navigation */
    .main-header .main-navigation { text-align: center; }
    .main-header #togglemenu:checked ~ .main-navigation { @include box-shadow(15px 0 40px rgba(0,0,0,0.3)); @include transition(transform .35s cubic-bezier(.65,.05,.36,1)); }
    .main-navigation .nav-item { border-top: 1px solid rgba(255,255,255, 0.1); }
    .main-navigation .nav-item:hover { color: palette(primary); }



    .main-header .togglemenu { position: absolute; right: 0; top: 50%; @include transform(translateY(-50%)); display: block; }
    .main-header .togglemenu.close,
    .main-header .main-navigation { position: fixed; top: 0; left: 0; bottom: 0; right: initial; @include transition(all 500ms ease); @include transform(translate(-100%, 0)); }


    .main-header .togglemenu.close { right: 0; z-index: 98; display: block; background: rgba(0,0,0,0.4); }
    .main-header .main-navigation { z-index: 999; margin-top: 0; width:82%; max-width: 420px; height:100%; max-height:100%; overflow-y:auto; -webkit-overflow-scrolling:touch; background-color: palette(primary, dark); }


}



@media all and (min-width: $smallDevice){

    .pg-home .main-header { position: absolute; left: 0; top: 0; width: 400px; height: 100vh; max-height: $maxView; background-color: rgba(0,0,0, 0.6); }
    .pg-home .main-header .central-de-atendimento { position: absolute; left: 0; bottom: 0; right: 0; }    
    .pg-home .main-header .main-navigation li { display: block; }

    .main-header.vertical .appbar { padding-left: 0; padding-right: 0; }

    
    .main-header.horizontal .app-title { position: relative; z-index: 1; margin: 0 16px; width: 120px; max-width: initial; }
    .main-header.horizontal .logo { position: absolute; left: 0; top: 0; z-index: 8; display: block; width: 100%; }

    .main-header.horizontal .main-navigation { margin: 16px 0 16px 152px; text-align: center; @include cf; }
    .main-header.horizontal .main-navigation .navbar { float: left; }
    .main-header.horizontal .main-navigation .toolbar { float: right; }
    .main-header.horizontal .main-navigation .navbar,
    .main-header.horizontal .main-navigation .toolbar { display: flex; align-items: center; justify-content: center; }
    .main-header.horizontal .toolbar li { display: inline-block; vertical-align: middle; }


    .main-navigation .navbar li,
    .main-navigation > .nav-item { display: inline-block; vertical-align: middle; }
    .main-navigation .nav-item { padding: 14px 16px; line-height: 24px; letter-spacing: 0.04em; @include transition; }

    .main-navigation a.nav-item:hover { background-color: palette(dark, dark); color: palette(primary, light); }

    $navbar: (about, service, franquia, orcamento, contact);

    @each $nav in $navbar {

        .pg-#{$nav} .main-navigation .nav-item.#{$nav} { color: palette(primary, light); cursor: default; }
        .pg-#{$nav} .main-navigation .nav-item.#{$nav}:after { opacity: 1; width: 48px; background-color: palette(calltoaction); }

    }

}

@media all and (min-width: $smallDevice) and (max-width: 1160px){
    .main-header.horizontal .toolbar a { text-indent: -999rem; padding-right: 0; }
}
@media all and (min-height: 800px){
    .main-header.vertical .app-title { padding: 20px 0; }
    .main-header.vertical .navbar a { padding: 20px 12px; letter-spacing: 0.2em; }
}
@media all and (min-height: 872px){
    .main-header.vertical .navbar { margin: 10% 0 8%; }
    .main-header.vertical .toolbar a { margin-top: 8px; }
}
@media all and (min-width: 1280px){
    
    .main-header .central-de-atendimento { padding-top: 20px; }
    .main-navigation .nav-item { padding: 14px 20px; letter-spacing: 0.08em; }

}

@media all and (min-width: 1460px){
    .main-header.horizontal .main-navigation { margin-left: 180px; }
    .main-navigation .nav-item { padding-left: 26px; padding-right: 26px; letter-spacing: 0.12em; }
}















