



/*
 * Clientes
 */
.client { text-align: center; }
.client .heading { color: palette(grey, dark); }
.client .heading .title { color: palette(dark); line-height: 1.2; }


/* list */
.client .feed-list { margin: 0; }
.client .feed-list .logo { display: block; height: 142px; text-align: center; display: flex; align-items: center; justify-content: center; max-height: 92%; filter: grayscale(100%); opacity: 0.25; @include transition; }

.client:hover .feed-list .logo { filter: grayscale(0%); opacity: 1; }


/* slider */
.client .slick-slider .slick-arrow:focus { outline: none; }


@media all and (min-width: 1380px){
	.client .slick-slider .slick-prev { left: -52px; }
	.client .slick-slider .slick-next { right: -52px; }
}












/*
 * Como Chegar
 */
.map-canvas #map_canvas { height: 320px; background: palette(grey) url(../img/loading.svg) no-repeat 50% 50%; }
.map-canvas .gm-style .gm-style-iw .title { color: palette(primary, dark); text-transform: uppercase; letter-spacing: 0.08em; font-family: $fontBold; font-size: 24px; }
.map-canvas .gm-style .gm-style-iw { font-size: 16px; line-height: 1.6; color: palette(primary); }

#onde-estamos .wrapper { text-align: center; max-width: 992px; padding-top: 1.5rem; }
#onde-estamos .form .title { margin: 12px 0; line-height: 1.1; }
#onde-estamos .form .btn { line-height: 20px; }
#onde-estamos .form .btn,
#onde-estamos .form input { margin: 0; border-radius: 42px; padding: 12px 24px; font-size: 16px; letter-spacing: 0.08em; }

@media all and (max-width: 820px){
	#onde-estamos .wrapper { padding-bottom: 0.75rem; }
	#onde-estamos .title { font-size: 2.6rem; }
}

@media all and (min-width: 600px){
	#onde-estamos .form .btn,
	#onde-estamos .form input { height: 56px; }
}

@media all and (min-width: 880px){
	.map-canvas #map_canvas { height: 520px; }
}


.content {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.content:hover input ~ .checkmark {
    background-color: #ccc;
}

.content input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.content input:checked ~ .checkmark:after {
    display: block;
}

.content .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.fisica {
	background: #ff0
}
.juridica {
	background: #f00
}
.garagem {
    background: #2196F3
}

fieldset {
    padding: 10px 0;
    margin: 10px 0;
}

