



/*
 * Sidebar
 */


.sidebar .heading { margin-bottom: 1rem; }
.sidebar .heading .title { line-height: 1.2; }


.sidebar .widget { margin-bottom: 1.5rem; }



.sidebar .nav { background-color: palette(grey, light); }
.sidebar .nav a { display: block; padding: 16px; border-bottom: 1px dotted palette(white); line-height: 1.2; letter-spacing: 0.08em; }
.sidebar .nav a:hover { background-color: palette(primary, dark); }