

$card-background-color: transparent !default;

/*
 * Create default card - list
 */
.card { z-index: 1; position: relative; display: block; overflow: hidden; background: $card-background-color; box-sizing: border-box; }





/* Title */
.card .card-title { display: block; }



/* Content */
.card .card-content.inner,
.card .card-image .card-title { padding: $gutter; }
.card .card-image .card-title { text-align: left; position: absolute; left: 0; bottom: 0; right: 0; z-index: 5; }

.card .card-content.panel { padding: 0 $gutter; }

.card.border,
.card .card-content.border { border: 1px solid palette(grey); }
.card .card-content,
.card .card-image { position:relative; z-index:1; }
.card .card-content .card-title { margin: ($gutter/4) 0; }




/* Card - image */
.card .card-image { text-align:center; }
.card .card-image img { max-width:100%; display:inline-block; }












/* card inner content */
.card .card-content.collapse-top { padding-top: 0; padding-bottom: 0; }
.card .card-content.collapse,
.card .card-action.collapse { padding: 0; }




