@charset "UTF-8";
[class*=" ico-"]:before, [class^=ico-]:before, [data-icon]:before {
  font-family: vigivel !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#onde-estamos .wrapper, .client, .main-footer {
  text-align: center;
}

.main-footer .widget-address:after, .main-footer:after, .row:after {
  clear: both;
}

.btn, .btn.outline, .row .col, .service.feed-list .picture {
  -khtml-box-sizing: border-box;
}

@media all and (max-width: 600px) {
  .wrapper .row .col, .wrapper.row .col {
    padding: .375rem 0;
  }
}

@media all and (min-width: 600px) {
  .container .row, .form .row, .row.push-row {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }
  .row .col {
    padding: .75rem;
  }
}

.section.no-pad {
  padding: 0;
}

.section.no-pad-bot {
  padding-bottom: 0;
}

.section.no-pad-top {
  padding-top: 0;
}

.row.collapse {
  margin-bottom: 0;
}

.row .col.s-collapse-left {
  padding-left: 0;
}

.row .col.s-collapse-right {
  padding-right: 0;
}

@media only screen and (max-width: 600px) {
  .row.cycle .col.s2:nth-of-type(5n+1), .row.cycle .col.s3:nth-of-type(4n+1), .row.cycle .col.s4:nth-of-type(3n+1), .row.cycle .col.s6:nth-of-type(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .row.cycle .col.m2:nth-of-type(5n+1), .row.cycle .col.m3:nth-of-type(4n+1), .row.cycle .col.m4:nth-of-type(3n+1), .row.cycle .col.m6:nth-of-type(2n+1) {
    clear: both;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
}

.row .col {
  float: left;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: 0;
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: 0;
}

.row .col.s3 {
  width: 25%;
  margin-left: 0;
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: 0;
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: 0;
}

.row .col.s6 {
  width: 50%;
  margin-left: 0;
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: 0;
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: 0;
}

.row .col.s9 {
  width: 75%;
  margin-left: 0;
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: 0;
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: 0;
}

.row .col.s12 {
  width: 100%;
  margin-left: 0;
}

.row .col.offset-s1 {
  margin-left: 8.3333333333%;
}

.row .col.offset-s2 {
  margin-left: 16.6666666667%;
}

.row .col.offset-s3 {
  margin-left: 25%;
}

.row .col.offset-s4 {
  margin-left: 33.3333333333%;
}

.row .col.offset-s5 {
  margin-left: 41.6666666667%;
}

.row .col.offset-s6 {
  margin-left: 50%;
}

.row .col.offset-s7 {
  margin-left: 58.3333333333%;
}

.row .col.offset-s8 {
  margin-left: 66.6666666667%;
}

.row .col.offset-s9 {
  margin-left: 75%;
}

.row .col.offset-s10 {
  margin-left: 83.3333333333%;
}

.row .col.offset-s11 {
  margin-left: 91.6666666667%;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

@media only screen and (min-width: 601px) {
  .row .col.m-collapse-left {
    padding-left: 0;
  }
  .row .col.m-collapse-right {
    padding-right: 0;
  }
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: 0;
  }
  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: 0;
  }
  .row .col.m3 {
    width: 25%;
    margin-left: 0;
  }
  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: 0;
  }
  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: 0;
  }
  .row .col.m6 {
    width: 50%;
    margin-left: 0;
  }
  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: 0;
  }
  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: 0;
  }
  .row .col.m9 {
    width: 75%;
    margin-left: 0;
  }
  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: 0;
  }
  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: 0;
  }
  .row .col.m12 {
    width: 100%;
    margin-left: 0;
  }
  .row .col.offset-m1 {
    margin-left: 8.3333333333%;
  }
  .row .col.offset-m2 {
    margin-left: 16.6666666667%;
  }
  .row .col.offset-m3 {
    margin-left: 25%;
  }
  .row .col.offset-m4 {
    margin-left: 33.3333333333%;
  }
  .row .col.offset-m5 {
    margin-left: 41.6666666667%;
  }
  .row .col.offset-m6 {
    margin-left: 50%;
  }
  .row .col.offset-m7 {
    margin-left: 58.3333333333%;
  }
  .row .col.offset-m8 {
    margin-left: 66.6666666667%;
  }
  .row .col.offset-m9 {
    margin-left: 75%;
  }
  .row .col.offset-m10 {
    margin-left: 83.3333333333%;
  }
  .row .col.offset-m11 {
    margin-left: 91.6666666667%;
  }
  .row .col.offset-m12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l-collapse-left {
    padding-left: 0;
  }
  .row .col.l-collapse-right {
    padding-right: 0;
  }
  .row.cycle .col.l2:nth-of-type(5n+1), .row.cycle .col.l3:nth-of-type(4n+1), .row.cycle .col.l4:nth-of-type(3n+1), .row.cycle .col.l6:nth-of-type(2n+1) {
    clear: both;
  }
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: 0;
  }
  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: 0;
  }
  .row .col.l3 {
    width: 25%;
    margin-left: 0;
  }
  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: 0;
  }
  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: 0;
  }
  .row .col.l6 {
    width: 50%;
    margin-left: 0;
  }
  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: 0;
  }
  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: 0;
  }
  .row .col.l9 {
    width: 75%;
    margin-left: 0;
  }
  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: 0;
  }
  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: 0;
  }
  .row .col.l12 {
    width: 100%;
    margin-left: 0;
  }
  .row .col.offset-l1 {
    margin-left: 8.3333333333%;
  }
  .row .col.offset-l2 {
    margin-left: 16.6666666667%;
  }
  .row .col.offset-l3 {
    margin-left: 25%;
  }
  .row .col.offset-l4 {
    margin-left: 33.3333333333%;
  }
  .row .col.offset-l5 {
    margin-left: 41.6666666667%;
  }
  .row .col.offset-l6 {
    margin-left: 50%;
  }
  .row .col.offset-l7 {
    margin-left: 58.3333333333%;
  }
  .row .col.offset-l8 {
    margin-left: 66.6666666667%;
  }
  .row .col.offset-l9 {
    margin-left: 75%;
  }
  .row .col.offset-l10 {
    margin-left: 83.3333333333%;
  }
  .row .col.offset-l11 {
    margin-left: 91.6666666667%;
  }
  .row .col.offset-l12 {
    margin-left: 100%;
  }
}

@font-face {
  font-family: vigivel;
  src: url(../fonts/vigivel.woff) format("woff"), url(../fonts/vigivel.eot), url(../fonts/vigivel.eot?#iefix) format("embedded-opentype"), url(../fonts/vigivel.ttf) format("truetype"), url(../fonts/vigivel.svg#vigivel) format("svg");
  font-weight: 400;
  font-style: normal;
}

[data-icon]:before {
  content: attr(data-icon);
  line-height: 1;
}

[class*=" ico-"], [class^=ico-] {
  line-height: 1;
}

[class*=" ico-"]:before, [class^=ico-]:before {
  line-height: 1.1;
  display: inline-block;
  vertical-align: top;
}

.ico-user:before {
  content: "\62";
}

.ico-company:before {
  content: "\61";
}

.ico-service:before {
  content: "\63";
}

.ico-team:before {
  content: "\64";
}

.client .heading {
  color: #a1a1a1;
}

.client .heading .title {
  color: #060606;
  line-height: 1.2;
}

.client .feed-list {
  margin: 0;
}

.client .feed-list .logo {
  height: 142px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: 92%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .25;
  transition: all .3s ease-out;
}

.client:hover .feed-list .logo {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

.client .slick-slider .slick-arrow:focus {
  outline: 0;
}

@media all and (min-width: 1380px) {
  .client .slick-slider .slick-prev {
    left: -52px;
  }
  .client .slick-slider .slick-next {
    right: -52px;
  }
}

.map-canvas #map_canvas {
  height: 320px;
  background: url(../img/loading.svg) 50% 50% no-repeat silver;
}

.map-canvas .gm-style .gm-style-iw .title {
  color: #4860ae;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-family: Dekar,sans-serif;
  font-size: 24px;
}

.map-canvas .gm-style .gm-style-iw {
  font-size: 16px;
  line-height: 1.6;
  color: #2dacea;
}

#onde-estamos .wrapper {
  max-width: 992px;
  padding-top: 1.5rem;
}

#onde-estamos .form .title {
  margin: 12px 0;
  line-height: 1.1;
}

#onde-estamos .form .btn {
  line-height: 20px;
}

.sidebar .heading .title, .sidebar .nav a {
  line-height: 1.2;
}

#onde-estamos .form .btn, #onde-estamos .form input {
  margin: 0;
  border-radius: 42px;
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: .08em;
}

@media all and (max-width: 820px) {
  #onde-estamos .wrapper {
    padding-bottom: .75rem;
  }
  #onde-estamos .title {
    font-size: 2.6rem;
  }
}

@media all and (min-width: 600px) {
  #onde-estamos .form .btn, #onde-estamos .form input {
    height: 56px;
  }
}

@media all and (min-width: 880px) {
  .map-canvas #map_canvas {
    height: 520px;
  }
}

.sidebar .heading {
  margin-bottom: 1rem;
}

.sidebar .widget {
  margin-bottom: 1.5rem;
}

.sidebar .nav {
  background-color: #dfdfdf;
}

.main-footer, .sidebar .nav a:hover {
  background-color: #4860ae;
}

.sidebar .nav a {
  display: block;
  padding: 14px 16px;
  border-bottom: 1px dotted #fff;
  letter-spacing: .08em;
}

.main-footer {
  width: 100%;
  position: relative;
  z-index: 9;
  color: #fff;
  font-size: 14px;
}

.btn, .card, .ui-breadcrumbs, .ui-breadcrumbs .breadcrumb-item, .ui-breadcrumbs .breadcrumb-label {
  z-index: 1;
  position: relative;
}

.main-footer:after, .main-footer:before {
  content: '';
  display: table;
}

.main-footer ul {
  margin: 0;
}

.main-footer a {
  color: #eee;
  display: inline-block;
  text-decoration: underline;
}

.main-footer .widget-address.units .address-item:after, .main-footer .widget-address.units .address-item:before, .main-footer .widget-address:after, .main-footer .widget-address:before {
  content: '';
  display: table;
}

.main-footer a:hover {
  color: #2df8f9;
  text-decoration: none;
}

.main-footer .footer-content {
  line-height: 1.4;
  letter-spacing: .05em;
  margin-bottom: 0;
}

.main-footer .heading .title {
  color: #fff;
}

.main-footer .central .info, .main-footer .widget-address .locale {
  color: #202f47;
}

.main-footer address {
  font-style: normal;
}

.main-footer .widget-address .address-item {
  position: relative;
  z-index: 1;
  margin-bottom: .75rem;
}

.main-footer .widget-address.units .address-item {
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.5%;
  margin-left: 0;
  margin-right: 1%;
}

.main-footer .widget-address.units .address-item:after, .main-footer .widget-address.units .address-item:nth-of-type(2n+1), .pagination:after, .service.feed-list .feed-item:after {
  clear: both;
}

.main-footer .widget-address.units .address-item:nth-of-type(2n) {
  margin-right: 0;
  float: right;
}

.main-footer .central .info, .main-footer .mail {
  letter-spacing: .1em;
}

.main-footer .footer-down .wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-down .goutnix a {
  display: inline-block;
  color: #202f47;
}

.footer-down .goutnix a:hover {
  color: #fff;
}

@media all and (max-width: 600px) {
  .footer-down .wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footer-down .goutnix {
    margin-top: 1rem;
    margin-bottom: 4px;
  }
  .main-footer .widget-address {
    max-width: 310px;
    margin: 0 auto;
  }
}

@media all and (max-width: 992px) {
  .main-footer .heading .title {
    font-size: 2rem;
  }
}

@media all and (min-width: 600px) {
  .main-footer .heading {
    margin-bottom: 1rem;
  }
  .main-footer .footer-down {
    padding: .75rem 0;
    text-align: left;
    letter-spacing: .06em;
    color: #202f47;
  }
  .footer-down .copyright {
    max-width: 50%;
    display: inline-block;
  }
  .footer-down .goutnix {
    float: right;
    display: block;
  }
}

.ui-breadcrumbs .breadcrumb-item::before, .ui-breadcrumbs li {
  line-height: 20px;
  display: inline-block;
  margin-right: 6px;
}

@media all and (min-width: 992px) {
  .main-footer .footer-content {
    padding-top: .75rem;
    text-align: initial;
  }
  .main-footer .box-social {
    text-align: right;
  }
}

@media all and (min-width: 1260px) {
  .main-footer .footer-content {
    padding-top: 2rem;
  }
  .main-footer .title {
    letter-spacing: .16em;
  }
}

.ui-breadcrumbs {
  background-color: #2dacea;
  color: #eee;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .04em;
}

.ui-breadcrumbs ol {
  margin-top: 0;
  margin-bottom: 0;
}

.ui-breadcrumbs .wrapper {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.ui-breadcrumbs .breadcrumb-item::before {
  content: "/";
  vertical-align: top;
}

.form-msg .icon, .form-msg .icon::before {
  vertical-align: middle;
}

.ui-breadcrumbs .breadcrumb-item.home::before, .ui-breadcrumbs .breadcrumb-item:first-child::before {
  content: initial;
}

.ui-breadcrumbs a {
  color: #06426f;
}

.btn, .btn:hover, .ui-breadcrumbs .active, .ui-breadcrumbs a:hover {
  color: #fff;
}

@media all and (max-width: 820px) {
  .ui-breadcrumbs .breadcrumb-item::before, .ui-breadcrumbs li {
    margin-right: 3px;
  }
  .ui-breadcrumbs .breadcrumb-label {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  .ui-breadcrumbs .breadcrumb-item {
    letter-spacing: .1em;
  }
  .ui-breadcrumbs .breadcrumb-item > span {
    font-weight: 700;
  }
}

.btn, .btn.outline {
  display: inline-block;
  padding: 12px 20px 8px;
  margin-bottom: 8px;
  margin-top: 8px;
  min-height: 16px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  outline: 0;
  transition: all .3s ease-out;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.block, .card, .card .card-title {
  display: block;
}

.btn:hover {
  background: #1d2868;
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 32px;
  background-color: #2dacea;
  line-height: 1.2;
}

.btn:hover {
  background-color: #060606;
}

.btn.alternative {
  background-color: #1d2868;
  color: #fff;
}

.btn.alternative:hover {
  background-color: #202540;
}

.btn.white {
  background-color: #fff;
  color: #1d2868;
}

.btn.white:hover {
  background-color: #202540;
}

.btn.grey {
  background-color: silver;
  color: #060606;
}

.btn.grey:hover {
  background-color: #a1a1a1;
}

.btn.dark {
  background-color: #060606;
  color: #fff;
}

.btn.dark:hover {
  background-color: #000;
}

.btn.primary {
  background-color: #2dacea;
  color: #fff;
}

.btn.primary:hover {
  background-color: #4860ae;
}

.btn.primary-light {
  background-color: #2df8f9;
  color: #060606;
}

.btn.primary-light:hover {
  background-color: #2dacea;
}

.btn.positive {
  background-color: #16ab39;
  color: #fff;
}

.btn.positive:hover {
  background-color: #0f7527;
}

.btn.negative {
  background-color: #d01919;
  color: #fff;
}

.btn.negative:hover {
  background-color: #991212;
}

.btn.outline {
  background-color: transparent;
  border: 2px solid #1d2868;
  color: #1d2868;
}

.btn.outline:hover {
  border-color: transparent;
  background-color: #1d2868;
  color: #fff;
}

.btn.outline.white {
  border-color: #fff;
  color: #fff;
}

.btn.outline.white:hover {
  border-color: transparent;
  background-color: #202540;
  color: #fff;
}

.btn.outline.grey {
  border-color: silver;
  color: #a1a1a1;
}

.btn.outline.grey:hover {
  border-color: transparent;
  background-color: #a1a1a1;
  color: #fff;
}

.btn.outline.dark {
  border-color: #060606;
  color: #000;
}

.btn.outline.dark:hover {
  border-color: transparent;
  background-color: #000;
  color: #fff;
}

.btn.outline.primary {
  border-color: #2dacea;
  color: #2dacea;
}

.btn.outline.primary:hover {
  border-color: transparent;
  background-color: #2dacea;
  color: #fff;
}

.btn.outline.positive {
  border-color: #16ab39;
  color: #16ab39;
}

.btn.outline.positive:hover {
  border-color: transparent;
  background-color: #16ab39;
  color: #fff;
}

.btn.outline.negative {
  border-color: #d01919;
  color: #d01919;
}

.btn.outline.negative:hover {
  border-color: transparent;
  background-color: #d01919;
  color: #fff;
}

@media all and (min-width: 720px) {
  .btn, .btn.outline {
    padding: 16px 32px 12px;
    letter-spacing: .06em;
  }
}

@media all and (min-width: 1200px) {
  .btn, .btn.outline {
    letter-spacing: .1em;
  }
}

.block {
  width: 100%;
}

.card {
  overflow: hidden;
  background: 0 0;
  box-sizing: border-box;
}

.card .card-content.inner, .card .card-image .card-title {
  padding: 16px;
}

.card .card-image .card-title {
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.card .card-content, .card .card-image, .form-msg {
  position: relative;
  z-index: 1;
}

.card .card-content.panel {
  padding: 0 16px;
}

.card .card-content.border, .card.border {
  border: 1px solid silver;
}

.card .card-content .card-title {
  margin: 4px 0;
}

.card .card-image {
  text-align: center;
}

.card .card-image img {
  max-width: 100%;
  display: inline-block;
}

.card .card-content.collapse-top {
  padding-top: 0;
  padding-bottom: 0;
}

.card .card-action.collapse, .card .card-content.collapse {
  padding: 0;
}

form .fake-file, form button, form input, form select, form textarea {
  width: 100%;
  background: no-repeat silver;
  color: #060606;
  border: 1px solid transparent;
  padding: .35rem;
  letter-spacing: .04em;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

form .error.fake-file, form button.error, form input.error, form select.error, form textarea.error {
  border-color: #d24a4a;
  outline: #d24a4a solid 1px;
}

form .valid.fake-file, form button.valid, form input.valid, form select.valid, form textarea.valid {
  border-color: #4ad290;
  outline: #4ad290 solid 1px;
  background-color: #4ad290;
  color: #fff;
}

#map .state, #map .state:active, .container-toggle .btn-toggle:focus, .slick-list:focus, .slick-slider .slick-dots li.slick-active button:focus {
  outline: 0;
}

form .fake-file:focus, form button:focus, form input:focus, form select:focus, form textarea:focus {
  color: #060606;
  border-color: #1d2868;
  background-color: #fff;
  outline: 0;
  transition: all .2s ease-out;
}

.form-msg, form .submit {
  transition: all .3s ease-out;
}

form .fake-file:focus ~ label.error, form button:focus ~ label.error, form input:focus ~ label.error, form select:focus ~ label.error, form textarea:focus ~ label.error {
  opacity: 0;
  visibility: hidden;
}

form .fake-file, form button[type=submit], form input, form select {
  height: 48px;
}

form .submit {
  background-color: #060606;
  color: #fff;
  border-width: 0;
}

form fieldset {
  padding: 0;
  border: none;
}

form input.placeholder, form select.placeholder, form textarea.placeholder {
  font-style: italic;
  opacity: .4;
}

form input::-webkit-input-placeholder, form select::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-style: italic;
  opacity: .4;
}

form input:-moz-placeholder, form select:-moz-placeholder, form textarea:-moz-placeholder {
  font-style: italic;
  opacity: .4;
}

form input::-moz-placeholder, form select::-moz-placeholder, form textarea::-moz-placeholder {
  font-style: italic;
  opacity: .4;
}

form input:-ms-input-placeholder, form select:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-style: italic;
  opacity: .4;
}

form textarea {
  min-height: 52px;
  max-height: 420px;
  resize: vertical;
  display: block;
}

form input[type=radio], form input[type=checkbox] {
  width: auto;
  height: auto;
}

form select {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(../img/ico-down.png);
  background-position: 100% 50%;
}

form .submit:focus, form .submit:hover {
  background-color: #1d2868;
}

form.validate input.error.placeholder, form.validate select.error.placeholder, form.validate textarea.error.placeholder {
  color: #d86363;
}

form.validate input.error::-webkit-input-placeholder, form.validate select.error::-webkit-input-placeholder, form.validate textarea.error::-webkit-input-placeholder {
  color: #d86363;
}

form.validate input.error:-moz-placeholder, form.validate select.error:-moz-placeholder, form.validate textarea.error:-moz-placeholder {
  color: #d86363;
}

form.validate input.error::-moz-placeholder, form.validate select.error::-moz-placeholder, form.validate textarea.error::-moz-placeholder {
  color: #d86363;
}

form.validate input.error:-ms-input-placeholder, form.validate select.error:-ms-input-placeholder, form.validate textarea.error:-ms-input-placeholder {
  color: #d86363;
}

.form-msg {
  color: #fff;
  display: none;
  visibility: hidden;
  background: 10px 50% no-repeat silver;
  text-align: center;
  border: 1px solid transparent;
}

.form-msg.show {
  padding: 15px 5px;
  display: block;
  visibility: visible;
}

.slick-loading .slick-slide, .slick-loading .slick-track {
  visibility: hidden;
}

.form-msg .icon {
  font-size: 22px;
  color: #fff;
  display: inline-block;
}

.form-msg .closed {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -14px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #060606;
  font-size: 24px;
  line-height: 24px;
  border-radius: 2em;
  padding: 0;
  -ms-box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.1);
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.1);
  vertical-align: top;
  font-family: sans-serif;
}

.form-msg .closed:before {
  content: "×";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slick-slider .slick-dots li button:before, .ui-social .social:before {
  content: "";
}

.form-msg .closed:hover {
  color: #060606;
}

.form-msg.info a, .form-msg.info strong {
  color: #09446c;
}

.form-msg.warning {
  background-color: #ddab63;
}

.form-msg.warning a, .form-msg.warning strong {
  color: #b37a27;
}

.form-msg.error {
  background-color: #d24a4a;
}

.form-msg.error a, .form-msg.error strong {
  color: #922424;
}

.form-msg.success {
  background-color: #4ad290;
}

.form-msg.success a, .form-msg.success strong {
  color: #24925d;
}

.form-msg.info {
  background-color: transparent;
  color: #ddab63;
  border-color: silver;
}

.form-msg.warning .message {
  color: #895d1e;
}

form.validate label.error {
  font-size: 14px;
  padding: 3px 6px;
  background-color: #d24a4a;
  color: #fff;
  transition: all .2s ease-out;
  line-height: normal;
  letter-spacing: .04em;
}

@media all and (min-width: 600px) {
  form.validate label.error {
    z-index: 2;
    position: absolute;
    left: .75rem;
    top: 100%;
    margin: -1.5rem 0 0 -1px;
    max-width: 100%;
  }
  form.validate label.error:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 1rem;
    top: -6px;
    width: 12px;
    height: 12px;
    display: block;
    background-color: inherit;
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.fake-file {
  position: relative;
  z-index: 1;
  padding-right: 80px;
  overflow: hidden;
}

.form label.fake-file {
  margin: 0;
}

.fake-file input.file {
  position: absolute;
  z-index: -1;
  opacity: 0;
  padding: 0;
  height: 70%;
  width: 90%;
}

.form .field, .ui-social .social {
  z-index: 1;
  position: relative;
}

.fake-file .fake-button {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  background-color: #a1a1a1;
  padding: 14px 20px 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 24px;
}

.fake-file .fake-button .icon {
  display: none;
}

.fake-file .filename {
  margin-top: 10px;
  display: block;
  white-space: nowrap;
  line-height: 1;
}

.fake-file .fake-button:hover {
  background-color: #2a3a98;
  color: #fff;
}

.fake-file input.file.valid ~ .fake-button {
  color: #060606;
  background-color: #fff;
}

@media all and (min-width: 1200px) {
  .fake-file .fake-button {
    letter-spacing: .06em;
    text-transform: uppercase;
  }
  .fake-file .filename {
    margin-top: 10px;
  }
}

form .field label {
  min-height: 18px;
  margin-bottom: 4px;
  display: block;
}

.form .feed-list.row {
  margin-top: 0;
  margin-bottom: 0;
}

.form .feed-list.row .col {
  padding-bottom: 0;
}

@media all and (min-width: 640px) {
  form .fake-file, form button, form input, form select, form textarea {
    padding: .75rem;
    font-size: 1.1rem;
  }
  form .fake-file, form .submit, form button[type=submit], form input, form select {
    height: 58px;
  }
  form .submit {
    font-size: 1.4rem;
    letter-spacing: .04em;
    font-weight: 700;
  }
}

@media all and (min-width: 1200px) {
  form .fake-file, form .submit, form button[type=submit], form input, form select {
    height: 66px;
  }
}

.ui-social {
  margin: 2rem 0 0;
  list-style: none;
}

.main-footer .ui-social {
  margin-top: 1rem;
}

.ui-social li {
  display: inline-block;
  margin: 4px;
}

.ui-social li:last-child {
  margin-right: 0;
}

.ui-social .social {
  text-decoration: none;
  min-height: 62px;
  padding: 0 0 4px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  vertical-align: middle;
  transition: all .3s ease-out;
  text-align: center;
}

.ui-social .social:before {
  background: url(../img/sprite.png) no-repeat;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  opacity: .6;
  margin: 0 auto 6px;
  transition: all .3s ease-out;
  display: block;
}

.ui-social .social.facebook:hover:before, .ui-social .social.instagram:hover:before, .ui-social .social.youtube:hover:before {
  opacity: 1;
}

.ui-social .social:hover {
  color: #1d2868;
}

.ui-social .social.youtube, .ui-social .social.youtube:before {
  width: 62px;
}

.ui-social .social.instagram:before {
  background-position: 0 0;
}

.ui-social .social.facebook:before {
  background-position: -48px 0;
}

.ui-social .social.youtube:before {
  background-position: -96px 0;
}

@media all and (min-width: 720px) {
  .ui-social li {
    margin-right: 8px;
  }
}

.slick-slider .slick-prev {
  left: 0;
}

.slick-slider .slick-next {
  right: 0;
}

.basic-slider.slick-slider .slick-prev {
  left: 2%;
}

.basic-slider.slick-slider .slick-next {
  right: 2%;
}

@media all and (max-width: 600px) {
  .wrapper .slick-slider .slick-prev {
    left: -.75rem;
  }
  .wrapper .slick-slider .slick-next {
    right: -.75rem;
  }
  .pagination li {
    font-size: 12px;
  }
}

.append-arrow .slick-arrow, .slick-slider .slick-arrow {
  position: relative;
  z-index: 9;
  display: block;
  width: 52px;
  height: 72px;
  background: 0 0;
  text-indent: -99rem;
  overflow: hidden;
  border: none;
  padding: 0;
  opacity: .4;
  transition: all .3s ease-out;
}

.append-arrow .slick-arrow:before, .slick-slider .slick-arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 6;
  background: url(../img/sprite.png) no-repeat;
  width: 52px;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.append-arrow .slick-arrow:hover, .slick-slider .slick-arrow:hover {
  opacity: 1;
}

.slick-slider .slick-next, .slick-slider .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  transform: translateY(-50%);
}

.append-arrow .slick-prev:before, .slick-slider .slick-prev:before {
  background-position: 0 -114px;
}

.append-arrow .slick-next:before, .slick-slider .slick-next:before {
  background-position: -52px -114px;
}

.slick-slider .slick-dots {
  margin-top: 8px;
  text-align: center;
}

.slick-slider .slick-dots button:hover {
  border-color: transparent;
}

.slick-slider > li:nth-child(1n+2) {
  display: none;
}

.slick-slider .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 4px;
  display: inline-block;
}

.slick-slider .slick-dots li button {
  background: 0 0;
  text-indent: -32px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #2df8f9;
  border-radius: 12px;
}

.slick-slider .slick-dots li button:hover {
  background-color: #060606;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #2dacea;
  border-color: transparent !important;
  opacity: 1;
}

@media all and (min-width: 880px) {
  .slick-slider .slick-dots {
    line-height: 20px;
  }
  .slick-slider .slick-dots li {
    padding: 4px;
  }
}

.ui-pagination {
  text-align: center;
  padding: .75rem 0;
}

.pagination {
  width: auto;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-display: inline-flex;
  -khtml-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  -o-display: inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
}

.pagination:after, .pagination:before {
  content: '';
  display: table;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
}

.pagination li a, .pagination li span {
  display: block;
  padding: 10px 4px;
  min-width: 20px;
  text-align: center;
  border: 1px solid silver;
  margin: 2px;
}

.pagination li span {
  border-color: #dfdfdf;
  color: silver;
}

.pagination li a:hover {
  background-color: #060606;
}

.pagination li a:hover, .pagination li.active span {
  border-color: transparent;
  color: #fff;
}

.pagination li.active span {
  background-color: #1d2868;
  cursor: default;
}

@media all and (min-width: 1200px) {
  .ui-pagination {
    padding: 2rem 0;
  }
  .pagination li a, .pagination li span {
    min-width: 32px;
    margin: 3px;
  }
}

#map .state {
  cursor: pointer;
}

#map .state .shape {
  cursor: pointer;
  -width: 0;
  fill: #06426f;
  transition: all .3s ease-out;
}

#map .state .label_state {
  display: none;
}

#map .state.hover .label_state, #map .state:hover .label_state {
  display: block;
}

#map .state .icon_state {
  fill: #2dacea;
}

#map .state .label_icon_state {
  font-family: sans-serif;
  font-size: 11px;
  line-height: 12px;
  font-weight: 400;
  fill: #fff;
}

#map .state .label_state, #map .state:hover .icon_state, #map .state:hover .shape {
  fill: #202540;
}

#map .state:hover .label_icon_state {
  fill: #4860ae;
}

#map .state.is-active .icon_state, #map .state.is-active .shape {
  fill: #2df8f9;
}

#map .state.is-active .label_icon_state {
  fill: #4860ae;
}

@media all and (max-width: 470px) {
  .box-mapa {
    text-align: center;
    overflow: auto;
    margin-bottom: 1rem;
    background-color: silver;
  }
  .box-mapa #map {
    width: 470px;
    -webkit-transform: scale(0.9);
    -khtml-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.app-store a:before, .service.feed-list .wrap-list .icon {
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
}

.solicitar-acesso .btn-toggle {
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
}

.row.checked-service {
  margin-top: 0;
}

.row.checked-service .col {
  padding-top: 0;
}

.checked-service .col label {
  margin-bottom: 0;
}

.container-toggle.is-active .btn-toggle {
  background-color: silver;
  color: #060606;
}

.service.feed-list .feed-item {
  margin-top: 24px;
  border: 2px solid silver;
  box-shadow: 0 8px 42px rgba(0, 0, 0, 0.1);
}

.service.feed-list .feed-item:after, .service.feed-list .feed-item:before {
  content: '';
  display: table;
}

.service.feed-list .feed-item .title {
  margin-top: 1.5rem;
}

.service.feed-list .picture {
  padding: 16px;
  text-align: center;
  background-color: #eee;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.service.feed-list .picture .icon {
  text-align: center;
}

.service.feed-list .picture img {
  max-height: 160px;
}

.service.feed-list .wrap-list {
  margin-top: 1rem;
}

.service.feed-list .wrap-list a {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  margin: 4px 4px 8px 0;
  background-color: silver;
  color: #060606;
  text-transform: uppercase;
  padding: 14px 20px 10px 56px;
  line-height: 1.2;
  border-radius: 28px;
  transition: all .3s ease-out;
}

.service.feed-list .wrap-list a:hover, .widget.bg-primary {
  background-color: #4860ae;
  color: #fff;
}

.service.feed-list .wrap-list .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  min-width: 42px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service.feed-list .wrap-list .icon img {
  height: 32px;
  width: initial;
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .service.feed-list .heading:after, .service.feed-list .heading:before, .service.feed-list .picture:after, .service.feed-list .picture:before {
    content: '';
    display: table;
  }
  .service.feed-list .picture {
    float: left;
    clear: none;
    text-align: inherit;
    width: 41.0285714286%;
    margin-left: 0;
    margin-right: 3.2%;
  }
  .service.feed-list .picture:after {
    clear: both;
  }
  .service.feed-list .picture:last-child {
    margin-right: 0;
  }
  .service.feed-list .heading {
    float: left;
    clear: none;
    text-align: inherit;
    width: 55.7714285714%;
    margin-left: 0;
    margin-right: 3.2%;
  }
  .service.feed-list .heading:after {
    clear: both;
  }
  .service.feed-list .heading:last-child {
    margin-right: 0;
  }
  .service.feed-list .picture img {
    max-height: initial;
  }
}

.feedlist.dashboard:after, .pg-service-show .heading.flex:after, .slick-track:after {
  clear: both;
}

@media all and (min-width: 1201px) {
  .service.feed-list .feed-item {
    position: relative;
    z-index: 1;
    padding-left: 460px;
    padding-right: 20px;
    margin-top: 48px;
    min-height: 260px;
  }
  .service.feed-list .picture {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 420px;
    padding: 32px 16px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .service.feed-list .picture img {
    max-height: 200px;
  }
}

.pg-service-show .heading.flex {
  text-align: center;
}

.pg-service-show .heading.flex:after, .pg-service-show .heading.flex:before {
  content: '';
  display: table;
}

.pg-service-show .heading.flex .icon {
  display: block;
  margin: 0 auto 12px;
}

.pg-service-show .heading.flex .icon img {
  max-height: 140px;
  width: auto;
}

.widget.bg-primary {
  text-align: center;
  padding: 32px 16px;
  margin-top: 1.5rem;
}

.main-view .widget-orcamento .info {
  display: block;
  color: #eee;
  letter-spacing: .08em;
  opacity: .8;
}

@media all and (min-width: 560px) {
  .pg-service-show .heading.flex {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
  }
  .pg-service-show .heading.flex .icon {
    float: left;
    margin: 0 24px 0 0;
  }
  .pg-service-show .heading.flex .icon img {
    max-height: 180px;
  }
}

@media all and (min-width: 1200px) {
  .pg-service-show .heading.flex .icon {
    margin-right: 32px;
  }
  .main-view .widget-orcamento {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .main-view .widget-orcamento .box-title {
    width: 50%;
    margin-right: 12px;
  }
}

.vigivel-app .preview {
  margin: 0 20px 12px 0;
}

.vigivel-app .content {
  font-size: 15px;
}

.app-store {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 1rem 0;
}

.app-store a, .app-store a:before {
  display: inline-block;
  vertical-align: middle;
}

.app-store a {
  position: relative;
  z-index: 1;
  line-height: 1.2;
  padding: 8px 8px 8px 40px;
}

.app-store a .caption {
  font-size: 14px;
  letter-spacing: .14em;
  text-transform: uppercase;
  color: #a1a1a1;
  transition: all .2s ease-out;
}

.app-store a:before {
  content: "";
  z-index: 3;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/sprite.png) no-repeat;
  width: 30px;
  height: 36px;
}

.app-store a.apple:before {
  background-position: 0 -48px;
}

.app-store a.google:before {
  width: 30px;
  background-position: -30px -48px;
}

.app-store a:hover {
  color: #2dacea;
}

.app-store a:hover .caption {
  color: #060606;
}

.about .picture .image {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.about .picture img {
  border-radius: 200px;
}

.pg-home .about .resume {
  letter-spacing: .08em;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.pg-about .about-gallery ul, .pg-home .about .btn {
  margin-bottom: 0;
}

@media all and (max-width: 991px) {
  .pg-home .about {
    text-align: center;
  }
}

@media all and (min-width: 992px) {
  .pg-home .about .resume {
    line-height: 2.4;
  }
  .about .picture .image {
    max-width: 420px;
  }
}

.pg-about .about-gallery img {
  max-height: 480px;
}

.about-gallery .slick-slider img {
  opacity: .4;
  transition: all .3s ease-out;
}

.about-gallery .slick-slider .slick-current img {
  opacity: 1;
}

.about-gallery .slick-slider .slick-next, .about-gallery .slick-slider .slick-prev {
  margin-left: 16px;
  margin-right: 16px;
  opacity: 1;
}

.pg-franquia .feed-list {
  list-style: circle;
  margin-left: 16px;
  color: #a1a1a1;
  letter-spacing: .06em;
}

.pg-franquia .feed-list li {
  margin: 8px 0 14px;
}

.pg-franquia .feed-list strong {
  font-weight: 700;
  font-family: Dekar,sans-serif;
  text-transform: uppercase;
  color: #4860ae;
}

.feed-list.franquia .feed-item {
  text-align: center;
  transition: all .3s ease-out;
}

.feed-list.franquia .heading-panel {
  background-color: #a1a1a1;
  color: #fff;
  padding: 16px 8px 12px;
  text-transform: uppercase;
  line-height: 1.2;
  transition: all .3s ease-out;
}

.feed-list.franquia .content {
  padding: 16px;
  border: solid #dfdfdf;
  border-width: 0 1px;
}

.feed-list.franquia .foo-more a {
  display: block;
  background-color: #4860ae;
  color: #fff;
  padding: 16px 8px;
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.2) inset;
  transition: all .2s ease-out;
}

.feed-list.franquia .foo-more a:hover {
  background-color: #252525;
}

.feed-list.franquia .feed-item:hover {
  color: #252525;
}

.feed-list.franquia .feed-item:hover .heading-panel {
  background-color: #2dacea;
}

.feedlist.dashboard:after, .feedlist.dashboard:before {
  content: '';
  display: table;
}

.feedlist.dashboard .feeditem {
  position: relative;
  z-index: 1;
  display: block;
  padding: 24px 16px 24px 72px;
  text-transform: uppercase;
}

.feedlist.dashboard .feeditem:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/sprite.png) -157px 0 no-repeat;
  width: 53px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}

.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block;
}

.feedlist.dashboard .feeditem:hover {
  color: #2dacea;
  text-decoration: underline;
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: '';
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/**
 * Grid system - Documentation [jeet.gs]
 * Ref.: http://jeet.gs/
 **/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/**
 * Mixins/Settings
 **/
/*
 * Fonts
 */
/*
 * Theme palettes
 */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/*
 * Materialize Framework - Manual grid system
 * Documentation: http://materializecss.com/grid.html
 */
/*** Global ***/
@media all and (max-width: 600px) {
  .wrapper.row .col,
  .wrapper .row .col {
    padding: 0.375rem 0;
  }
}

@media all and (min-width: 600px) {
  .row.push-row,
  .container .row,
  .form .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .row .col {
    padding: 0.75rem;
  }
}

.section.no-pad {
  padding: 0;
}

.section.no-pad-bot {
  padding-bottom: 0;
}

.section.no-pad-top {
  padding-top: 0;
}

.row.collapse {
  margin-bottom: 0;
}

.row .col.s-collapse-left {
  padding-left: 0;
}

.row .col.s-collapse-right {
  padding-right: 0;
}

@media only screen and (min-width: 601px) {
  .row .col.m-collapse-left {
    padding-left: 0;
  }
  .row .col.m-collapse-right {
    padding-right: 0;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l-collapse-left {
    padding-left: 0;
  }
  .row .col.l-collapse-right {
    padding-right: 0;
  }
}

/* Cycle cols */
@media only screen and (max-width: 600px) {
  .row.cycle .col.s2:nth-of-type(5n+1), .row.cycle .col.s3:nth-of-type(4n+1), .row.cycle .col.s4:nth-of-type(3n+1), .row.cycle .col.s6:nth-of-type(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .row.cycle .col.m2:nth-of-type(5n+1), .row.cycle .col.m3:nth-of-type(4n+1), .row.cycle .col.m4:nth-of-type(3n+1), .row.cycle .col.m6:nth-of-type(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 993px) {
  .row.cycle .col.l2:nth-of-type(5n+1), .row.cycle .col.l3:nth-of-type(4n+1), .row.cycle .col.l4:nth-of-type(3n+1), .row.cycle .col.l6:nth-of-type(2n+1) {
    clear: both;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: 0;
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: 0;
}

.row .col.s3 {
  width: 25%;
  margin-left: 0;
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: 0;
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: 0;
}

.row .col.s6 {
  width: 50%;
  margin-left: 0;
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: 0;
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: 0;
}

.row .col.s9 {
  width: 75%;
  margin-left: 0;
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: 0;
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: 0;
}

.row .col.s12 {
  width: 100%;
  margin-left: 0;
}

.row .col.offset-s1 {
  margin-left: 8.3333333333%;
}

.row .col.offset-s2 {
  margin-left: 16.6666666667%;
}

.row .col.offset-s3 {
  margin-left: 25%;
}

.row .col.offset-s4 {
  margin-left: 33.3333333333%;
}

.row .col.offset-s5 {
  margin-left: 41.6666666667%;
}

.row .col.offset-s6 {
  margin-left: 50%;
}

.row .col.offset-s7 {
  margin-left: 58.3333333333%;
}

.row .col.offset-s8 {
  margin-left: 66.6666666667%;
}

.row .col.offset-s9 {
  margin-left: 75%;
}

.row .col.offset-s10 {
  margin-left: 83.3333333333%;
}

.row .col.offset-s11 {
  margin-left: 91.6666666667%;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: 0;
  }
  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: 0;
  }
  .row .col.m3 {
    width: 25%;
    margin-left: 0;
  }
  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: 0;
  }
  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: 0;
  }
  .row .col.m6 {
    width: 50%;
    margin-left: 0;
  }
  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: 0;
  }
  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: 0;
  }
  .row .col.m9 {
    width: 75%;
    margin-left: 0;
  }
  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: 0;
  }
  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: 0;
  }
  .row .col.m12 {
    width: 100%;
    margin-left: 0;
  }
  .row .col.offset-m1 {
    margin-left: 8.3333333333%;
  }
  .row .col.offset-m2 {
    margin-left: 16.6666666667%;
  }
  .row .col.offset-m3 {
    margin-left: 25%;
  }
  .row .col.offset-m4 {
    margin-left: 33.3333333333%;
  }
  .row .col.offset-m5 {
    margin-left: 41.6666666667%;
  }
  .row .col.offset-m6 {
    margin-left: 50%;
  }
  .row .col.offset-m7 {
    margin-left: 58.3333333333%;
  }
  .row .col.offset-m8 {
    margin-left: 66.6666666667%;
  }
  .row .col.offset-m9 {
    margin-left: 75%;
  }
  .row .col.offset-m10 {
    margin-left: 83.3333333333%;
  }
  .row .col.offset-m11 {
    margin-left: 91.6666666667%;
  }
  .row .col.offset-m12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: 0;
  }
  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: 0;
  }
  .row .col.l3 {
    width: 25%;
    margin-left: 0;
  }
  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: 0;
  }
  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: 0;
  }
  .row .col.l6 {
    width: 50%;
    margin-left: 0;
  }
  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: 0;
  }
  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: 0;
  }
  .row .col.l9 {
    width: 75%;
    margin-left: 0;
  }
  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: 0;
  }
  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: 0;
  }
  .row .col.l12 {
    width: 100%;
    margin-left: 0;
  }
  .row .col.offset-l1 {
    margin-left: 8.3333333333%;
  }
  .row .col.offset-l2 {
    margin-left: 16.6666666667%;
  }
  .row .col.offset-l3 {
    margin-left: 25%;
  }
  .row .col.offset-l4 {
    margin-left: 33.3333333333%;
  }
  .row .col.offset-l5 {
    margin-left: 41.6666666667%;
  }
  .row .col.offset-l6 {
    margin-left: 50%;
  }
  .row .col.offset-l7 {
    margin-left: 58.3333333333%;
  }
  .row .col.offset-l8 {
    margin-left: 66.6666666667%;
  }
  .row .col.offset-l9 {
    margin-left: 75%;
  }
  .row .col.offset-l10 {
    margin-left: 83.3333333333%;
  }
  .row .col.offset-l11 {
    margin-left: 91.6666666667%;
  }
  .row .col.offset-l12 {
    margin-left: 100%;
  }
}

/*
 * Sprite
 */
/**
 * Horizontally and vertically centers block elements
 * Ex: .foo { @include center-block; }
 **/
/**
 * Create circle
 * Ex: .circle { @include circle(200px, #999); }
 **/
/*
 * Vertical align
 */
/* FILTER */
/**
 * Main Stylesheet For Visual Style Guide
 **/
/*
 * Icons
 */
@font-face {
  font-family: "vigivel";
  src: url("../fonts/vigivel.woff") format("woff"), url("../fonts/vigivel.eot"), url("../fonts/vigivel.eot?#iefix") format("embedded-opentype"), url("../fonts/vigivel.ttf") format("truetype"), url("../fonts/vigivel.svg#vigivel") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "vigivel" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"],
[class*=" ico-"] {
  line-height: 1;
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
  font-family: "vigivel" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1.1;
  display: inline-block;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-company:before {
  content: "\61";
}

.ico-user:before {
  content: "\62";
}

/**
 * Main Stylesheet For Structure
 **/
/*
 * Clientes
 */
.client {
  text-align: center;
}

.client .heading {
  color: #a1a1a1;
}

.client .heading .title {
  color: #060606;
  line-height: 1.2;
}

/* list */
.client .feed-list {
  margin: 0;
}

.client .feed-list .logo {
  display: block;
  height: 142px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: 92%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.25;
  transition: all 0.3s ease-out;
}

.client:hover .feed-list .logo {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

/* slider */
.client .slick-slider .slick-arrow:focus {
  outline: none;
}

@media all and (min-width: 1380px) {
  .client .slick-slider .slick-prev {
    left: -52px;
  }
  .client .slick-slider .slick-next {
    right: -52px;
  }
}

/*
 * Como Chegar
 */
.map-canvas #map_canvas {
  height: 320px;
  background: #c0c0c0 url(../img/loading.svg) no-repeat 50% 50%;
}

.map-canvas .gm-style .gm-style-iw .title {
  color: #4860ae;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-family: "Dekar", sans-serif;
  font-size: 24px;
}

.map-canvas .gm-style .gm-style-iw {
  font-size: 16px;
  line-height: 1.6;
  color: #2dacea;
}

#onde-estamos .wrapper {
  text-align: center;
  max-width: 992px;
  padding-top: 1.5rem;
}

#onde-estamos .form .title {
  margin: 12px 0;
  line-height: 1.1;
}

#onde-estamos .form .btn {
  line-height: 20px;
}

#onde-estamos .form .btn,
#onde-estamos .form input {
  margin: 0;
  border-radius: 42px;
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 0.08em;
}

@media all and (max-width: 820px) {
  #onde-estamos .wrapper {
    padding-bottom: 0.75rem;
  }
  #onde-estamos .title {
    font-size: 2.6rem;
  }
}

@media all and (min-width: 600px) {
  #onde-estamos .form .btn,
  #onde-estamos .form input {
    height: 56px;
  }
}

@media all and (min-width: 880px) {
  .map-canvas #map_canvas {
    height: 520px;
  }
}

.content {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.content:hover input ~ .checkmark {
  background-color: #ccc;
}

.content input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.content input:checked ~ .checkmark:after {
  display: block;
}

.content .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.fisica {
  background: #ff0;
}

.juridica {
  background: #f00;
}

.garagem {
  background: #2196F3;
}

fieldset {
  padding: 10px 0;
  margin: 10px 0;
}

/*
 * Sidebar
 */
.sidebar .heading {
  margin-bottom: 1rem;
}

.sidebar .heading .title {
  line-height: 1.2;
}

.sidebar .widget {
  margin-bottom: 1.5rem;
}

.sidebar .nav {
  background-color: #dfdfdf;
}

.sidebar .nav a {
  display: block;
  padding: 16px;
  border-bottom: 1px dotted #fff;
  line-height: 1.2;
  letter-spacing: 0.08em;
}

.sidebar .nav a:hover {
  background-color: #4860ae;
}

/*
 * Footer
 */
.main-footer {
  width: 100%;
  *zoom: 1;
  text-align: center;
  position: relative;
  z-index: 9;
  background-color: #4860ae;
  color: #fff;
  font-size: 14px;
}

.main-footer:before, .main-footer:after {
  content: '';
  display: table;
}

.main-footer:after {
  clear: both;
}

.main-footer ul {
  margin: 0;
}

.main-footer a {
  color: #eee;
  display: inline-block;
  text-decoration: underline;
}

.main-footer a:hover {
  color: #2df8f9;
  text-decoration: none;
}

.main-footer .footer-content {
  line-height: 1.4;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.main-footer .heading .title {
  color: #fff;
}

/* Address */
.main-footer address {
  font-style: normal;
}

.main-footer .widget-address {
  *zoom: 1;
}

.main-footer .widget-address:before, .main-footer .widget-address:after {
  content: '';
  display: table;
}

.main-footer .widget-address:after {
  clear: both;
}

.main-footer .widget-address .address-item {
  position: relative;
  z-index: 1;
  margin-bottom: 0.75rem;
}

.main-footer .widget-address .locale {
  color: #202f47;
}

.main-footer .widget-address.units .address-item {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.5%;
  margin-left: 0%;
  margin-right: 1%;
}

.main-footer .widget-address.units .address-item:before, .main-footer .widget-address.units .address-item:after {
  content: '';
  display: table;
}

.main-footer .widget-address.units .address-item:after {
  clear: both;
}

.main-footer .widget-address.units .address-item:nth-of-type(2n) {
  margin-right: 0%;
  float: right;
}

.main-footer .widget-address.units .address-item:nth-of-type(2n + 1) {
  clear: both;
}

/* central de atendimento */
.main-footer .central .info {
  color: #202f47;
}

.main-footer .central .info,
.main-footer .mail {
  letter-spacing: 0.1em;
}

.main-footer .footer-down .wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-down .goutnix a {
  display: inline-block;
  color: #202f47;
}

.footer-down .goutnix a:hover {
  color: #fff;
}

@media all and (max-width: 600px) {
  .footer-down .wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footer-down .goutnix {
    margin-top: 1rem;
    margin-bottom: 4px;
  }
  .main-footer .widget-address {
    max-width: 310px;
    margin: 0 auto;
  }
}

@media all and (max-width: 992px) {
  .main-footer .heading .title {
    font-size: 2rem;
  }
}

@media all and (min-width: 600px) {
  .main-footer .heading {
    margin-bottom: 1rem;
  }
  .main-footer .footer-down {
    padding: 0.75rem 0;
    text-align: left;
    letter-spacing: 0.06em;
    color: #202f47;
  }
  .footer-down .copyright {
    max-width: 50%;
    display: inline-block;
  }
  .footer-down .goutnix {
    float: right;
    display: block;
  }
}

@media all and (min-width: 992px) {
  .main-footer .footer-content {
    padding-top: 0.75rem;
    text-align: initial;
  }
  .main-footer .box-social {
    text-align: right;
  }
}

@media all and (min-width: 1260px) {
  .main-footer .footer-content {
    padding-top: 2rem;
  }
  .main-footer .title {
    letter-spacing: 0.16em;
  }
}

/**
 * Stylesheet For Interface
 **/
/**
*
* Breadcrumb
*
**/
.ui-breadcrumbs {
  position: relative;
  z-index: 1;
  background-color: #2dacea;
  color: #eee;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.ui-breadcrumbs ol {
  margin-top: 0;
  margin-bottom: 0;
}

.ui-breadcrumbs .wrapper {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.ui-breadcrumbs li {
  line-height: 20px;
  margin-right: 6px;
  display: inline-block;
  *float: left;
}

.ui-breadcrumbs .breadcrumb-label,
.ui-breadcrumbs .breadcrumb-item {
  position: relative;
  z-index: 1;
}

.ui-breadcrumbs .breadcrumb-item::before {
  line-height: 20px;
  content: "/";
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.ui-breadcrumbs .breadcrumb-item.home::before,
.ui-breadcrumbs .breadcrumb-item:first-child::before {
  content: initial;
}

.ui-breadcrumbs a {
  color: #06426f;
}

.ui-breadcrumbs .active,
.ui-breadcrumbs a:hover {
  color: #fff;
}

@media all and (max-width: 820px) {
  .ui-breadcrumbs li,
  .ui-breadcrumbs .breadcrumb-item::before {
    margin-right: 3px;
  }
  .ui-breadcrumbs .breadcrumb-label {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  .ui-breadcrumbs .breadcrumb-item {
    letter-spacing: 0.1em;
  }
  .ui-breadcrumbs .breadcrumb-item > span {
    font-weight: bold;
  }
}

.btn, .btn.outline {
  display: inline-block;
  padding: 12px 20px 8px;
  margin-bottom: 8px;
  margin-top: 8px;
  min-height: 16px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
  transition: all 0.3s ease-out;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.btn:hover {
  background: #1d2868;
  color: #fff;
  text-decoration: none;
}

/**
*
* Button
*
**/
.btn {
  position: relative;
  z-index: 1;
  color: #fff;
  border: none;
  border-radius: 32px;
  background-color: #2dacea;
  line-height: 1.2;
}

.btn:hover {
  background-color: #060606;
}

/* Color buttons */
.btn.alternative {
  background-color: #1d2868;
  color: #fff;
}

.btn.alternative:hover {
  background-color: #202540;
}

.btn.white {
  background-color: #fff;
  color: #1d2868;
}

.btn.white:hover {
  background-color: #202540;
}

.btn.grey {
  background-color: #c0c0c0;
  color: #060606;
}

.btn.grey:hover {
  background-color: #a1a1a1;
}

.btn.dark {
  background-color: #060606;
  color: #fff;
}

.btn.dark:hover {
  background-color: #000000;
}

.btn.primary {
  background-color: #2dacea;
  color: #fff;
}

.btn.primary:hover {
  background-color: #4860ae;
}

.btn.primary-light {
  background-color: #2df8f9;
  color: #060606;
}

.btn.primary-light:hover {
  background-color: #2dacea;
}

.btn.positive {
  background-color: #16ab39;
  color: #fff;
}

.btn.positive:hover {
  background-color: #0f7527;
}

.btn.negative {
  background-color: #d01919;
  color: #fff;
}

.btn.negative:hover {
  background-color: #991212;
}

/* Style / outline */
.btn.outline {
  background-color: transparent;
  border: 2px solid #1d2868;
  color: #1d2868;
}

.btn.outline:hover {
  border-color: transparent;
  background-color: #1d2868;
  color: #fff;
}

.btn.outline.white {
  border-color: #fff;
  color: #fff;
}

.btn.outline.white:hover {
  border-color: transparent;
  background-color: #202540;
  color: #fff;
}

.btn.outline.grey {
  border-color: #c0c0c0;
  color: #a1a1a1;
}

.btn.outline.grey:hover {
  border-color: transparent;
  background-color: #a1a1a1;
  color: #fff;
}

.btn.outline.dark {
  border-color: #060606;
  color: #000000;
}

.btn.outline.dark:hover {
  border-color: transparent;
  background-color: #000000;
  color: #fff;
}

.btn.outline.primary {
  border-color: #2dacea;
  color: #2dacea;
}

.btn.outline.primary:hover {
  border-color: transparent;
  background-color: #2dacea;
  color: #fff;
}

.btn.outline.positive {
  border-color: #16ab39;
  color: #16ab39;
}

.btn.outline.positive:hover {
  border-color: transparent;
  background-color: #16ab39;
  color: #fff;
}

.btn.outline.negative {
  border-color: #d01919;
  color: #d01919;
}

.btn.outline.negative:hover {
  border-color: transparent;
  background-color: #d01919;
  color: #fff;
}

@media all and (min-width: 720px) {
  .btn, .btn.outline {
    padding: 16px 32px 12px;
    letter-spacing: 0.06em;
  }
}

@media all and (min-width: 1200px) {
  .btn, .btn.outline {
    letter-spacing: 0.1em;
  }
}

/* full button */
.block {
  display: block;
  width: 100%;
}

/*
 * Create default card - list
 */
.card {
  z-index: 1;
  position: relative;
  display: block;
  overflow: hidden;
  background: transparent;
  box-sizing: border-box;
}

/* Title */
.card .card-title {
  display: block;
}

/* Content */
.card .card-content.inner,
.card .card-image .card-title {
  padding: 16px;
}

.card .card-image .card-title {
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.card .card-content.panel {
  padding: 0 16px;
}

.card.border,
.card .card-content.border {
  border: 1px solid #c0c0c0;
}

.card .card-content,
.card .card-image {
  position: relative;
  z-index: 1;
}

.card .card-content .card-title {
  margin: 4px 0;
}

/* Card - image */
.card .card-image {
  text-align: center;
}

.card .card-image img {
  max-width: 100%;
  display: inline-block;
}

/* card inner content */
.card .card-content.collapse-top {
  padding-top: 0;
  padding-bottom: 0;
}

.card .card-content.collapse,
.card .card-action.collapse {
  padding: 0;
}

/* 
 * Definitions 
 */
form input, form select, form textarea, form button {
  width: 100%;
  background: #c0c0c0 no-repeat;
  color: #060606;
  border: 1px solid transparent;
  padding: 0.35rem;
  letter-spacing: 0.04em;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

form input.error, form select.error, form textarea.error, form button.error {
  border-color: #d24a4a;
  outline: 1px solid #d24a4a;
}

form input.valid, form select.valid, form textarea.valid, form button.valid {
  border-color: #4ad290;
  outline: 1px solid #4ad290;
  background-color: #4ad290;
  color: #fff;
}

form input:focus, form select:focus, form textarea:focus, form button:focus {
  color: #060606;
  border-color: #1d2868;
  background-color: #fff;
  outline: none;
  transition: all 0.2s ease-out;
}

form input:focus ~ label.error, form select:focus ~ label.error, form textarea:focus ~ label.error, form button:focus ~ label.error {
  opacity: 0;
  visibility: hidden;
}

form input, form select, form button[type="submit"] {
  height: 48px;
}

form .submit {
  background-color: #060606;
  color: #fff;
  border-width: 0;
}

/* 
 * All forms
 */
form fieldset {
  padding: 0;
  border: none;
}

form input.placeholder, form select.placeholder, form textarea.placeholder {
  font-style: italic;
  opacity: 0.4;
}

form input::-webkit-input-placeholder, form select::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-style: italic;
  opacity: 0.4;
}

form input:-moz-placeholder, form select:-moz-placeholder, form textarea:-moz-placeholder {
  font-style: italic;
  opacity: 0.4;
}

form input::-moz-placeholder, form select::-moz-placeholder, form textarea::-moz-placeholder {
  font-style: italic;
  opacity: 0.4;
}

form input:-ms-input-placeholder, form select:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-style: italic;
  opacity: 0.4;
}

form textarea {
  min-height: 52px;
  max-height: 420px;
  resize: vertical;
  display: block;
}

form input[type="radio"],
form input[type="checkbox"] {
  width: auto;
  height: auto;
}

form select {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(../img/ico-down.png);
  background-position: 100% 50%;
}

/* submit */
form .submit {
  transition: all 0.3s ease-out;
}

form .submit:hover, form .submit:focus {
  background-color: #1d2868;
}

/*
 * Validation
 */
form.validate input.error.placeholder,
form.validate select.error.placeholder,
form.validate textarea.error.placeholder {
  color: #d86363;
}

form.validate input.error::-webkit-input-placeholder,
form.validate select.error::-webkit-input-placeholder,
form.validate textarea.error::-webkit-input-placeholder {
  color: #d86363;
}

form.validate input.error:-moz-placeholder,
form.validate select.error:-moz-placeholder,
form.validate textarea.error:-moz-placeholder {
  color: #d86363;
}

form.validate input.error::-moz-placeholder,
form.validate select.error::-moz-placeholder,
form.validate textarea.error::-moz-placeholder {
  color: #d86363;
}

form.validate input.error:-ms-input-placeholder,
form.validate select.error:-ms-input-placeholder,
form.validate textarea.error:-ms-input-placeholder {
  color: #d86363;
}

/* form msg status  */
.form-msg {
  color: #fff;
  display: none;
  visibility: hidden;
  background: #c0c0c0 no-repeat 10px 50%;
  transition: all 0.3s ease-out;
  text-align: center;
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
}

.form-msg.show {
  padding: 15px 5px;
  display: block;
  visibility: visible;
}

.form-msg .icon {
  font-size: 22px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.form-msg .icon::before {
  vertical-align: middle;
}

.form-msg .closed {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -14px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #060606;
  font-size: 24px;
  line-height: 24px;
  border-radius: 2em;
  padding: 0;
  -ms-box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.1);
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.1);
  vertical-align: top;
  font-family: sans-serif;
}

.form-msg .closed:before {
  content: "×";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-msg .closed:hover {
  color: #060606;
}

.form-msg.info {
  background-color: #1180ca;
}

.form-msg.info strong,
.form-msg.info a {
  color: #09446c;
}

.form-msg.warning {
  background-color: #ddab63;
}

.form-msg.warning strong,
.form-msg.warning a {
  color: #b37a27;
}

.form-msg.error {
  background-color: #d24a4a;
}

.form-msg.error strong,
.form-msg.error a {
  color: #922424;
}

.form-msg.success {
  background-color: #4ad290;
}

.form-msg.success strong,
.form-msg.success a {
  color: #24925d;
}

.form-msg.info {
  background-color: transparent;
  color: #ddab63;
  border-color: #c0c0c0;
}

.form-msg.warning .message {
  color: #895d1e;
}

/* Label error */
form.validate label.error {
  font-size: 14px;
  padding: 3px 6px;
  background-color: #d24a4a;
  color: #fff;
  transition: all 0.2s ease-out;
  line-height: normal;
  letter-spacing: 0.04em;
}

@media all and (min-width: 600px) {
  form.validate label.error {
    z-index: 2;
    position: absolute;
    left: 0.75rem;
    top: 100%;
    margin: -1.5rem 0 0 -1px;
    max-width: 100%;
  }
  form.validate label.error:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 1rem;
    top: -6px;
    width: 12px;
    height: 12px;
    display: block;
    background-color: inherit;
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Form label */
.form .field {
  position: relative;
  z-index: 1;
}

form .field label {
  min-height: 18px;
  margin-bottom: 4px;
  display: block;
}

.form .feed-list.row {
  margin-top: 0;
  margin-bottom: 0;
}

.form .feed-list.row .col {
  padding-bottom: 0;
}

@media all and (min-width: 640px) {
  form input, form select, form textarea, form button {
    padding: 0.75rem;
    font-size: 1.1rem;
  }
  form input, form select, form button[type="submit"],
  form .submit {
    height: 58px;
  }
  form .submit {
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    font-weight: bold;
  }
}

@media all and (min-width: 1200px) {
  form input, form select, form button[type="submit"],
  form .submit {
    height: 66px;
  }
}

.ui-social {
  margin: 2rem 0 0;
  list-style: none;
}

.main-footer .ui-social {
  margin-top: 1rem;
}

.ui-social li {
  display: inline-block;
  margin: 4px;
}

.ui-social li:last-child {
  margin-right: 0;
}

.ui-social .social {
  text-decoration: none;
  position: relative;
  z-index: 1;
  min-height: 62px;
  padding: 0 0 4px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  vertical-align: middle;
  transition: all 0.3s ease-out;
  text-align: center;
}

.ui-social .social:before {
  content: "";
  background: transparent url(../img/sprite.png) no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.6;
  margin: 0 auto 6px;
  transition: all 0.3s ease-out;
  display: block;
}

.ui-social .social:hover {
  color: #1d2868;
}

.ui-social .social.youtube,
.ui-social .social.youtube:before {
  width: 62px;
}

.ui-social .social.instagram:before {
  background-position: 0 0;
}

.ui-social .social.instagram:hover:before {
  opacity: 1;
}

.ui-social .social.facebook:before {
  background-position: -48px 0;
}

.ui-social .social.facebook:hover:before {
  opacity: 1;
}

.ui-social .social.youtube:before {
  background-position: -96px 0;
}

.ui-social .social.youtube:hover:before {
  opacity: 1;
}

@media all and (min-width: 720px) {
  .ui-social li {
    margin-right: 8px;
  }
}

.slick-slider .slick-prev {
  left: 0;
}

.slick-slider .slick-next {
  right: 0;
}

.basic-slider.slick-slider .slick-prev {
  left: 2%;
}

.basic-slider.slick-slider .slick-next {
  right: 2%;
}

@media all and (max-width: 600px) {
  .wrapper .slick-slider .slick-prev {
    left: -0.75rem;
  }
  .wrapper .slick-slider .slick-next {
    right: -0.75rem;
  }
}

.append-arrow .slick-arrow,
.slick-slider .slick-arrow {
  position: relative;
  z-index: 9;
  display: block;
  width: 52px;
  height: 72px;
  background: transparent;
  text-indent: -99rem;
  overflow: hidden;
  border: none;
  padding: 0;
  opacity: 0.4;
  transition: all 0.3s ease-out;
}

.append-arrow .slick-arrow:before,
.slick-slider .slick-arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 6;
  display: block;
  background: transparent url(../img/sprite.png) no-repeat;
  width: 52px;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.append-arrow .slick-arrow:hover,
.slick-slider .slick-arrow:hover {
  opacity: 1;
}

.slick-slider .slick-next,
.slick-slider .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  transform: translateY(-50%);
}

.append-arrow .slick-prev:before,
.slick-slider .slick-prev:before {
  background-position: 0 -114px;
}

.append-arrow .slick-next:before,
.slick-slider .slick-next:before {
  background-position: -52px -114px;
}

/* hide load slider */
.slick-slider > li:nth-child(1n+2),
.main-dash #slider-service > .feed-item:nth-child(1n+2) {
  display: none;
}

/* controls */
.slick-slider .slick-dots {
  text-align: center;
}

.slick-slider .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 4px;
  display: inline-block;
}

.slick-slider .slick-dots li button {
  border: none;
  background: none;
  text-indent: -32px;
  overflow: hidden;
  width: 18px;
  height: 18px;
  display: block;
  border: 2px solid #2df8f9;
  border-radius: 12px;
}

.slick-slider .slick-dots li button:before {
  content: "";
}

.slick-slider .slick-dots li button:hover {
  background-color: #060606;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #2dacea;
  border-color: transparent !important;
  opacity: 1;
}

.slick-slider .slick-dots li.slick-active button:focus {
  outline: none;
}

@media all and (min-width: 880px) {
  .slick-slider .slick-dots {
    line-height: 20px;
  }
  .slick-slider .slick-dots li {
    padding: 4px;
  }
}

/*
 * Paginação
 */
.ui-pagination {
  text-align: center;
  padding: 0.75rem 0;
}

.pagination {
  width: auto;
  *zoom: 1;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  -webkit-display: inline-flex;
  -khtml-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  -o-display: inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
}

.pagination:before, .pagination:after {
  content: '';
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
}

.pagination li span,
.pagination li a {
  display: block;
  padding: 10px 4px;
  min-width: 20px;
  text-align: center;
  border: 1px solid #c0c0c0;
  margin: 2px;
}

.pagination li span {
  border-color: #dfdfdf;
  color: #c0c0c0;
}

/* active */
.pagination li a:hover {
  background-color: #060606;
}

.pagination li a:hover,
.pagination li.active span {
  border-color: transparent;
  color: #fff;
}

.pagination li.active span {
  background-color: #1d2868;
  cursor: default;
}

/*  */
@media all and (min-width: 1200px) {
  .ui-pagination {
    padding: 2rem 0;
  }
  .pagination li span,
  .pagination li a {
    min-width: 32px;
    margin: 3px;
  }
}

@media all and (max-width: 600px) {
  .pagination li {
    font-size: 12px;
  }
}

/**
 * Stylesheet For Structure page
 **/
.about .picture .image {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.about .picture img {
  border-radius: 200px;
}

.pg-home .about .resume {
  letter-spacing: 0.08em;
  line-height: 1.8;
}

@media all and (max-width: 991px) {
  .pg-home .about {
    text-align: center;
  }
}

@media all and (min-width: 992px) {
  .pg-home .about .resume {
    line-height: 2.4;
  }
  .about .picture .image {
    max-width: 420px;
  }
}

/* 
 * Sobre nos - detalhe
 */
/* Gallery */
.pg-about .ui-gallery {
  background-color: #fff;
  padding-bottom: 1px;
}

.ui-gallery .col {
  padding: 0;
}

.ui-gallery .image {
  margin-top: 1px;
  overflow: hidden;
  background-color: #fff;
}

.ui-gallery .image img {
  opacity: 0.92;
}

.ui-gallery .group-image {
  *zoom: 1;
  display: -webkit-box;
  display: flex;
}

.ui-gallery .group-image:before, .ui-gallery .group-image:after {
  content: '';
  display: table;
}

.ui-gallery .group-image:after {
  clear: both;
}

.ui-gallery .group-image .image {
  width: 50%;
  float: left;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.ui-gallery .group-image .image img {
  margin-top: -1px;
}

.ui-gallery .group-image .image:first-child {
  padding-right: 1px;
}

.ui-gallery .group-image .image:first-child img {
  margin-top: 0;
}

.ui-gallery .image img {
  display: block;
  width: 100%;
}

@media all and (min-width: 600px) {
  .ui-gallery .col {
    padding-right: 1px;
  }
}

.pg-franquia .feed-list {
  list-style: circle;
  margin-left: 16px;
}

.pg-franquia .feed-list li {
  margin: 8px 0 14px;
}

.pg-franquia .feed-list {
  color: #a1a1a1;
  letter-spacing: 0.06em;
}

.pg-franquia .feed-list strong {
  font-weight: bold;
  font-family: "Dekar", sans-serif;
  text-transform: uppercase;
  color: #4860ae;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
