

.about .picture .image { display: block; margin: 0 auto; max-width: 300px; }
.about .picture img { border-radius: 200px; }
.pg-home .about .resume { letter-spacing: 0.08em; line-height: 1.8; }


@media all and (max-width: 991px){
	.pg-home .about { text-align: center; }
}
@media all and (min-width: 992px){
	.pg-home .about .resume { line-height: 2.4; }
	.about .picture .image { max-width: 420px; }
}



/* 
 * Sobre nos - detalhe
 */


/* Gallery */
.pg-about .ui-gallery { background-color: palette(white); padding-bottom: 1px; }
.ui-gallery .col { padding: 0; }
.ui-gallery .image { margin-top: 1px; overflow: hidden; background-color: palette(white); }
.ui-gallery .image img { opacity: 0.92; }
.ui-gallery .group-image { @include cf; display: flex; }
.ui-gallery .group-image .image { width: 50%; float: left; @include box-sizing; flex: 1 1 auto; }
.ui-gallery .group-image .image img { margin-top: -1px; }
.ui-gallery .group-image .image:first-child { padding-right: 1px; }
.ui-gallery .group-image .image:first-child img { margin-top: 0; }
.ui-gallery .image img { display: block; width: 100%; }


@media all and (min-width: 600px){
	.ui-gallery .col { padding-right: 1px; }
}
