
.feedlist.dashboard { @include cf; }
.feedlist.dashboard .feeditem { position: relative; z-index: 1; display: block; padding: 24px 16px 24px 72px; text-transform: uppercase; }
.feedlist.dashboard .feeditem:before { content: ""; position: absolute; left: 0; top: 50%; @include transform(translateY(-50%)); @include sprite(53px, 60px); background-position: -157px 0; }


.feedlist.dashboard .feeditem:hover { color: palette(primary); text-decoration: underline; }