
.main-dash { @include cf; text-align: center; }
.main-dash .dash { position: relative; z-index: 2; background: palette(dark) no-repeat 50% 50%; @include background-size; padding: 30px 0; @include box-sizing; }

/* title */
.main-dash .dash .heading { text-transform: uppercase; }


/* service */
.main-dash .service { background-image: url(../img/bg-service.jpg); background-position: 100% 50%; overflow: hidden; }
.main-dash .service:before { content: ""; position: absolute; z-index: -1; right: 0; bottom: 0; width: 100%; height: 100%; display: block; background-color: rgba(0,0,0, 0.7); }


@media all and (min-width: $smallDevice){
	.main-dash .service { height: 100vh; max-height: $maxView; padding-left: 400px; }
}







.main-dash .dash-user { @include cf; }

/* Seja uma franquia */
.main-dash .seja-uma-franquia { color: palette(primary); background-image: url(../img/bg-franquia.jpg); letter-spacing: 0.08em; padding-left: 16px; padding-right: 16px; }
.main-dash .seja-uma-franquia .btn { margin: 1.5rem 0 0; }




/* Portal dos usuários */
.main-dash .widget-portal { @include cf; }
.main-dash .widget-portal a { display: block; padding: 30px 16px; text-transform: uppercase; text-align: center; color: palette(white); letter-spacing: 0.2em; font-family: $fontBold; @include box-sizing; line-height: 1.2; @include transition; }
.main-dash .widget-portal .company { background-color: palette(alternative, dark); }
.main-dash .widget-portal .client { background-color: darken(palette(primary, dark), 6); }
.main-dash .widget-portal .icon { font-size: 8rem; display: block; }

.main-dash .widget-portal a:hover { background-color: palette(dark); color: palette(grey, dark); box-shadow: 0 0 42px rgba(0,0,0, 0.4); }



@media 
all and (min-width: 448px) and (max-width: 600px),
all and (min-width: 1200px){
	.main-dash .widget-portal a { width: 50%; float: left; }
}




/* grid box */
@media all and (min-width: 600px){
	.main-dash .seja-uma-franquia { display: flex; flex-direction: column; align-items: center; justify-content: center; }
}
@media all and (min-width: 600px) and (max-width: 1200px){
	.main-dash .seja-uma-franquia,
	.main-dash .widget-portal { @include span(1/2); }

	.main-dash .seja-uma-franquia { height: 540px; }
	.main-dash .widget-portal a { height: 270px; }
}

@media all and (min-width: 1200px) and (max-width: 1420px){

	.main-dash .service { @include span(2/3); }
	.main-dash .seja-uma-franquia { @include span(1/3); max-height: $maxView; }

	.main-dash .service,
	.main-dash .seja-uma-franquia { height: 100vh; }

	.main-dash .widget-portal { float: left; width: 100%; }

}

@media all and (min-width: 1420px) {

	.main-dash .service { @include span(2.8/5); }
	.main-dash .seja-uma-franquia,
	.main-dash .widget-portal { @include span(2.2/5); }

	.main-dash .seja-uma-franquia,
	.main-dash .widget-portal a { height: 50vh; max-height: ($maxView/2); }
	.main-dash .widget-portal a { display: flex; flex-direction: column; align-items: center; justify-content: center; }

}


@media all and (min-height: 768px) {
	.main-dash .service .feed-list { padding-top: 32px; }
}

@media all and (max-height: 640px) and (min-width: $smallDevice) and (max-width: 1200px){
	.pg-home .main-header,
	.main-dash .service { min-height: 580px; }
	
	.pg-home .main-header .app-title { margin: 20px 0; }
	.pg-home .main-header .toolbar { display: none; }
}

@media all and (max-height: 700px) and (min-width: 1200px){
	.main-dash .service .heading { margin-bottom: 12px; }
	.main-dash .service .feed-item .heading { margin-bottom: 0; }
	.main-dash .service .slick-slider .slick-dots { margin: 0; }

	.main-header.vertical .app-title img { height: 160px; padding: 10px 0; }
	.main-header .central-de-atendimento { padding-top: 10px; padding-bottom: 0; }
	
	.pg-home .main-header,
	.main-dash .service,
	.main-dash .seja-uma-franquia { min-height: 648px; }

}