

.pg-franquia .feed-list { list-style: circle; margin-left: 16px; }
.pg-franquia .feed-list li { margin: 8px 0 14px; }


.pg-franquia .feed-list { color: palette(grey, dark); letter-spacing: 0.06em; }
.pg-franquia .feed-list strong { font-weight: bold; font-family: $fontBold; text-transform: uppercase; color: palette(primary, dark); }