

/* title */
.service .heading.main .title { color: palette(primary, light); }


/* item */
.main-view .service a { display: block; @include transition; text-align: center; }
.main-dash .service a { color: palette(white); padding: 16px; }
.service .feed-item .heading { margin: 16px 0; }
.service .feed-item .icon { color: palette(primary); display: block; }
.service .feed-item .icon img { display: initial; }
.service .icon img.lazy { width: initial; }
.service .feed-item .title { color: inherit; letter-spacing: 0.16em; line-height: 1.4; margin-bottom: 8px; }
.service .feed-item .caption { opacity: 0.6; transition: all 0.2s ease-out; }

.main-dash .service .feed-item .caption { color: palette(white); }
.main-dash .service .feed-item .icon { min-height: 148px; }
.main-dash .service .icon img { max-height: 148px; }


/* :hover */
.main-view .service a:hover { color: palette(primary); }
.main-dash .service a:hover { color: palette(primary, light); }
.main-view .service a:hover .caption { opacity: 1; }




/* slider */
.service .slick-initialized .feed-item { opacity: 0.4; @include transform(scale(0.8)); @include transition(transform 0.4s ease-out); filter: blur(2px); }
.service .slick-initialized .feed-item.slick-current { opacity: 1; @include transform(scale(1)); transition-delay: 0.2s; filter: blur(0px); }



@media all and (min-height: 842px) and (min-width: 880px){
	.main-dash .service .feed-list { margin-top: 60px; margin-top: 8vh; }
}
@media all and(min-height: 560px) and (min-width: $smallDevice){
	.main-dash .service .feed-item .icon { min-height: 240px; }
	.main-dash .service .icon img { max-height: initial; }
}
@media all and (min-width: 1600px){
	.main-dash .service a { padding-left: 24px; padding-right: 24px; }
	.main-dash .service .feed-list .title { margin-top: 32px; }
}




/* 
 * Serviços list
 */
.pg-service .feed-list .feed-item { margin-top: 24px; }
.pg-service .feed-item .icon img { max-height: 160px; }

@media all and (min-width: 1200px){
	.pg-service .feed-list .feed-item { margin-top: 48px; }

}



/* 
 * Serviço detalhe
 */
.pg-service-show .heading.flex { @include cf; text-align: center; }
.pg-service-show .heading.flex .icon { display: block; margin: 0 auto 12px; }
.pg-service-show .heading.flex .icon img { max-height: 140px; width: auto; }


/* solicite um orcamento */
.main-view .widget-orcamento { background-color: palette(primary, dark); color: palette(white); text-align: center; padding: 32px 16px; margin-top: 1.5rem; }
.main-view .widget-orcamento .info { display: block; color: palette(white, light); letter-spacing: 0.08em; opacity: 0.8; }


@media all and (min-width: 560px){
	.pg-service-show .heading.flex { display: flex; align-items: center; text-align: left; }
	.pg-service-show .heading.flex .icon { float: left; margin: 0 24px 0 0; }
	.pg-service-show .heading.flex .icon img { max-height: 180px; }
}

@media all and (min-width: 1200px){
	.pg-service-show .heading.flex .icon { margin-right: 32px; }

	.main-view .widget-orcamento { display: flex; align-items: center; justify-content: center; }
	.main-view .widget-orcamento .box-title { width: 50%; margin-right: 12px; }
}