

/* slider */
.main-dash .service .slick-slider .slick-dots { margin: 0 0 1rem; }


// loop
.dash.service .feed-item .heading { margin: 12px 0 0; }
.dash.service .feed-list .feed-item img { width: initial; height: 72px; }
.dash.service .feed-item .heading .title { min-height: 48px; line-height: 1.2; letter-spacing: 0.04em; font-size: 20px; }

.dash.service .feed-item .title { @include transition; }
.dash.service .feed-item a { display: block; }
.dash.service .feed-item a:hover .title { color: palette(white); }


.dash.service .feed-list { padding: 0 8px; text-align: center; }
.dash.service .feed-list .feed-item { padding: 24px 8px; @include box-sizing; }
.dash.service .feed-list .feed-item img { margin: 0 auto; display: block; }



@media all and (max-width: 600px){
	.dash.service .feed-list > .feed-item { @include span(1/2, $cycle: 2); }
}
@media all and (min-width: 601px){
	.dash.service .feed-list > .feed-item { @include span(1/3, $cycle: 3); }
	.dash.service .feed-list > .feed-item:nth-child(n+4) { border-top: 1px solid rgba(palette(white), 0.1); }
	
	.dash.service .feed-list { padding: 0 16px; }
	.dash.service .feed-list .feed-item { padding: 24px 16px; }

}
@media all and (min-width: 1400px){

	/* slider */
	.main-dash .service .slick-slider .slick-dots { margin: 0 0 2rem; }

}
