/**
*
* Global
*
**/
html,
body,
button { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

html,
body { width: 100%; height: 100%; margin: 0; padding: 0; }
body { height: auto; position: relative; background-color: #fff; min-height: 100%; }


img { max-width: 100%; vertical-align: middle; }
img.lazy { width: 100%; }
ol, ul { list-style: none; padding-left: 0; }
dl dd { margin-left: 0; }
figure { margin: 0; }



.main-view { position: relative; z-index: 1; }
.wrapper { @include center; padding: 0.75rem; }
.main-view .wrapper { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.main-view .wrapper.collapse { padding-top: 0; padding-bottom: 0; }
.main-view .wrapper.collapse-top { padding-top: 0; }
.main-view .wrapper.collapse-bottom { padding-bottom: 0; }

.wrapper .section { margin-bottom: 3rem; }
.wrapper .section:last-child { margin-bottom: 0; }


@media all and (min-width: $smallDevice){
	.main-view .wrapper { padding-top: 5rem; padding-bottom: 5rem; }
}
@media all and (min-width: 1260px){
	.main-view .wrapper { padding-top: 6rem; padding-bottom: 6rem; }
}
@media all and (min-width: 1420px){
	.main-view .wrapper { padding-top: 132px; padding-bottom: 132px; }
	.wrapper .section { margin-bottom: 132px; }
}










/* Search result */
.key-search { margin-bottom: 2rem; padding-bottom: 1rem; border-bottom: 1px dotted palette(grey); text-align: center; }
.key-search b { color: palette(alternative); letter-spacing: 0.04em; }
.key-search .key {
	&:before, &:after { font-weight: normal; margin: 0 2px;  }
	&:before { content: '“'; }
	&:after { content: '”'; }
}



/* Custom color zoom */
.lg-actions .lg-next, 
.lg-actions .lg-prev { background-color: palette(alternative, dark) !important; }
.lg-actions .lg-next, 
.lg-actions .lg-prev,
.lg-toolbar .lg-icon { @include transition; color: palette(alternative, light) !important; opacity: 0.6;
	&:hover { opacity: 1; }
}
