
.error-page { color: #1C3745; font-size: 18px; margin: 24px 0; }

.error-page .code { font-size: 98px; letter-spacing: 0.2em; line-height: 1.2em; color: palette(primary); font-weight: bold; }
.error-page .title { font-size: 24px; letter-spacing: 0.2em; margin-bottom: 40px; text-transform: uppercase; }
.error-page .resume { margin-bottom: 24px; color: #555; }

.error-page .btn { display: inline-block; padding: 12px 24px; background-color: #555; color: #fff; text-transform: uppercase; font-size: 16px; letter-spacing: 0.1em; border-radius: 32px; }
.error-page .btn:hover { background-color: palette(primary); }



@media all and (min-width: 720px){

	.error-page { font-size: 20px; margin: 48px 0; }
	.error-page .code { font-size: 148px; letter-spacing: 0.4em; }
	.error-page .title { font-size: 28px; }

}