
.upp { text-transform: uppercase; }
.line { width: 100%; height: 1px; margin: 0; border: none; background-color: palette(grey); }
.line.space { margin: 1.5rem 0; }

.hidden { display: none !important; visibility: hidden; }


.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }


/*
 * Clearfix
 */
.clearfix {
    &::before,
    &::after { content: ""; display: table; }
    &::after { clear: both; }
}
