/*
 * Icons
 */
@font-face {
	font-family: "vigivel";
	src: url("../fonts/vigivel.woff") format("woff"),
	 	 url("../fonts/vigivel.eot"),
		 url("../fonts/vigivel.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/vigivel.ttf") format("truetype"),
		 url("../fonts/vigivel.svg#vigivel") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
  font-family: "vigivel" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"],
[class*=" ico-"] { line-height: 1; }

[class^="ico-"]:before,
[class*=" ico-"]:before {
  font-family: "vigivel" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1.1;
  display: inline-block;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-company:before {
  content: "\61";
}
.ico-user:before {
  content: "\62";
}