.Zebra_Pagination { clear: both; width: 100%; overflow: hidden; }
.Zebra_Pagination ul { position: relative; left: 50%; list-style-type: none; margin: 0; padding: 0; float: left; }
.Zebra_Pagination li { position: relative; float: left; right: 50%; }
.Zebra_Pagination a { min-width: 30px; height: 30px; line-height: 30px; margin: 0 5px; background-color: #fff; border: 1px solid #d6d6d6; color: #333; text-align:center; text-decoration: none; display: inline-block; float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.Zebra_Pagination a:hover { background-color: #3479AE; border-color: #3479AE; color: #FFF !important; }
.Zebra_Pagination a.navigation { border: 1px solid #d6d6d6; background-repeat: no-repeat; text-indent: -9999px; }
.Zebra_Pagination a.previous { background-image: url(../img/arrows.png); background-position: left bottom; }
.Zebra_Pagination a.next { background-image: url(../img/arrows.png); background-position: left top; }
.Zebra_Pagination a.disabled { filter: alpha(opacity=20); -khtml-opacity: 0.2; -moz-opacity: 0.2; opacity: 0.2; }
.Zebra_Pagination a.navigation:hover { border-color: #3479AE; }
.Zebra_Pagination a.previous:hover { background-position: right bottom; }
.Zebra_Pagination a.next:hover { background-position: right top; }
.Zebra_Pagination a.disabled:hover { cursor: normal; background-color: none; }
*html .Zebra_Pagination a.navigation { border-color: #000001; filter: chroma(color=#000001); }
.Zebra_Pagination a.current,.Zebra_Pagination a.current:hover { background: #3479AE; border-color: #3479AE; color: #FFF; }
.Zebra_Pagination span { color: #666; margin-right: 2px; display: block; float: left; padding: 8px 4px; }