
/**
 * Grid system - Documentation [jeet.gs]
 * Ref.: http://jeet.gs/
 **/
@import 'base/jeet/index'; // @include column(1/3, $gutter:2, $cycle:3);




/**
 * Mixins/Settings
 **/
@import 'base/config';
@import 'base/css3-mixins';
@import 'base/helper';




/**
 * Basic load
 **/
@import 'core/basic';
@import 'core/helper';
@import 'core/typography';
@import 'layout/header';
// @import 'layout/banner';



/*
 * Home First struture
 */
@import 'section/dash';
@import 'section/service';
@import 'ui/heading';
@import 'core/error';


/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
 html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
  }

  /**
   * Remove the margin in all browsers (opinionated).
   */
  body {
    margin: 0;
  }

  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   * 2. Add the correct display in IE.
   */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    /* 1 */
    display: block;
  }

  /**
   * Add the correct display in IE 9-.
   */
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
  }

  /**
   * Add the correct display in iOS 4-7.
   */
  audio:not([controls]) {
    display: none;
    height: 0;
  }

  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  progress {
    vertical-align: baseline;
  }

  /**
   * Add the correct display in IE 10-.
   * 1. Add the correct display in IE.
   */
  template,
  [hidden] {
    display: none;
  }

  /* Links
     ========================================================================== */
  /**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
  a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
  }

  /**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers (opinionated).
   */
  a:active,
  a:hover {
    outline-width: 0;
  }

  /* Text-level semantics
     ========================================================================== */
  /**
   * 1. Remove the bottom border in Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
  }

  /**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
  b,
  strong {
    font-weight: inherit;
  }

  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  b,
  strong {
    font-weight: bolder;
  }

  /**
   * Add the correct font style in Android 4.3-.
   */
  dfn {
    font-style: italic;
  }

  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  /**
   * Add the correct background and color in IE 9-.
   */
  mark {
    background-color: #ff0;
    color: #000;
  }

  /**
   * Add the correct font size in all browsers.
   */
  small {
    font-size: 80%;
  }

  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /* Embedded content
     ========================================================================== */
  /**
   * Remove the border on images inside links in IE 10-.
   */
  img {
    border-style: none;
  }

  /**
   * Hide the overflow in IE.
   */
  svg:not(:root) {
    overflow: hidden;
  }

  /* Grouping content
     ========================================================================== */
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }

  /**
   * Add the correct margin in IE 8.
   */
  figure {
    margin: 1em 40px;
  }

  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
  }

  /* Forms
     ========================================================================== */
  /**
   * 1. Change font properties to `inherit` in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
  }

  /**
   * Restore the font weight unset by the previous rule.
   */
  optgroup {
    font-weight: bold;
  }

  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  button,
  input {
    /* 1 */
    overflow: visible;
  }

  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  button,
  select {
    /* 1 */
    text-transform: none;
  }

  /**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
    /* 2 */
  }

  /**
   * Remove the inner border and padding in Firefox.
   */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /**
   * Restore the focus styles unset by the previous rule.
   */
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  /**
   * Change the border, margin, and padding in all browsers (opinionated).
   */
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
  }

  /**
   * Remove the default vertical scrollbar in IE.
   */
  textarea {
    overflow: auto;
  }

  /**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
  }

  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  [type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
  }

  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
   */
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /**
   * Correct the text style of placeholders in Chrome, Edge, and Safari.
   */
  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }

  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
  }

  @charset "UTF-8";
  /**
   * Grid system - Documentation [jeet.gs]
   * Ref.: http://jeet.gs/
   **/
  /*  Syntax Quick Reference
    --------------------------
    column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
    span($ratio: 1, $offset: 0)
    shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
    unshift()
    edit()
    center($max_width: 1410px, $pad: 0)
    stack($pad: 0, $align: false)
    unstack()
    align($direction: both)
    cf()
  */
  /**
   * Grid settings.
   * All values are defaults and can therefore be easily overidden.
   */
  /**
   * List functions courtesy of the wonderful folks at Team Sass.
   * Check out their awesome grid: Singularity.
   */
  /**
   * Get  percentage from a given ratio.
   * @param {number} [$ratio=1] - The column ratio of the element.
   * @returns {number} - The percentage value.
   */
  /**
   * Work out the column widths based on the ratio and gutter sizes.
   * @param {number} [$ratios=1] - The column ratio of the element.
   * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
   * @returns {list} $width $gutter - A list containing the with and gutter for the element.
   */
  /**
   * Get the set layout direction for the project.
   * @returns {string} $direction - The layout direction.
   */
  /**
   * Replace a specified list value with a new value (uses built in set-nth() if available)
   * @param {list} $list - The list of values you want to alter.
   * @param {number} $index - The index of the list item you want to replace.
   * @param {*} $value - The value you want to replace $index with.
   * @returns {list} $list - The list with the value replaced or removed.
   * @warn if an invalid index is supplied.
   */
  /**
   * Reverse a list (progressively enhanced for Sass 3.3)
   * @param {list} $list - The list of values you want to reverse.
   * @returns {list} $result - The reversed list.
   */
  /**
   * Get the opposite direction to a given value.
   * @param {string} $dir - The direction you want the opposite of.
   * @returns {string} - The opposite direction to $dir.
   * @warn if an incorrect string is provided.
   */
  /**
   * Style an element as a column with a gutter.
   * @param {number} [$ratios=1] - A width relative to its container as a fraction.
   * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
   * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
   * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
   * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
   */
  /**
   * An alias for the column mixin.
   * @param [$args...] - All arguments get passed through to column().
   */
  /**
   * Get the width of a column and nothing else.
   * @param {number} [$ratios=1] - A width relative to its container as a fraction.
   * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
   */
  /**
   * Get the gutter size of a column and nothing else.
   * @param {number} [ratios=1] - A width relative to its container as a fraction.
   * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
   */
  /**
   * An alias for the column-width function.
   * @param [$args...] - All arguments get passed through to column().
   */
  /**
   * An alias for the column-gutter function.
   * @param [$args...] - All arguments get passed through to column().
   */
  /**
   * Style an element as a column without any gutters for a seamless row.
   * @param {number} [$ratios=1] - A width relative to its container as a fraction.
   * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
   * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
   * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
   */
  /**
   * Reorder columns without altering the HTML.
   * @param {number} [$ratios=0] - Specify how far along you want the element to move.
   * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
   * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
   */
  /**
   * Reset an element that has had shift() applied to it.
   */
  /**
   * View the grid and its layers for easy debugging.
   * @param {string} [$color=black] - The background tint applied.
   * @param {boolean} [$important=false] - Whether to apply the style as !important.
   */
  /**
   *  Alias for edit().
   */
  /**
   * Horizontally center an element.
   * @param {number} [$max-width=1410px] - The max width the element can be.
   * @param {number} [$pad=0] - Specify the element's left and right padding.
   */
  /**
   * Uncenter an element.
   */
  /**
   * Stack an element so that nothing is either side of it.
   * @param {number} [$pad=0] - Specify the element's left and right padding.
   * @param {boolean/string} [$align=false] - Specify the text align for the element.
   */
  /**
   * Unstack an element.
   */
  /**
   * Center an element on either or both axes.
   * @requires A parent container with relative positioning.
   * @param {string} [$direction=both] - Specify which axes to center the element on.
   */
  /**
   * Apply a clearfix to an element.
   */
  /**
   * Mixins/Settings
   **/
  /*
   * Fonts
   */
  /*
   * Theme palettes
   */
  /* -------------------------------------------------------------
    Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
    By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

    List of CSS3 Sass Mixins File to be @imported and @included as you need

    The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
    ENDING css files

    note: All CSS3 Properties are being supported by Safari 5
    more info: http://www.findmebyip.com/litmus/#css3-properties

    Mixins available:
      -   css3-prefix             - arguments: Property, Value
      -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
      -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
      -   background-size         - arguments: Width: 100%, Height: 100%
      -   background-opacity      - arguments: Color: #000, Opacity: .85
      -   border-radius           - arguments: Radius: 5px
      -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
      -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
      -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
      -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
      -   box-sizing              - arguments: Type: border-box
      -   columns                 - arguments: Count: 3, Gap: 10
      -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
      -   flex                    - arguments: Value: 1
      -   flip                    - arguments: ScaleX: -1
      -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
      -   opacity                 - arguments: Opacity: 0.5
      -   outline radius          - arguments: Radius: 5px
      -   resize                  - arguments: Direction: both
      -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
      CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
      -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
      -   transform               - arguments: Parameters: null
      -   transform-style         - arguments: Style: preserve-3d
      -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
      -                            - Examples: @include transition (all 2s ease-in-out);
      -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
      -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
      -   keyframes               - arguments: Animation name
                                  - content:   Animation css
      -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                               (http://www.w3schools.com/cssref/css3_pr_animation.asp)

  ------------------------------------------------------------- */
  /* ADDS A BROWSER PREFIX TO THE PROPERTY */
  /* BACKGROUND GRADIENT */
  /* BACKGROUND RADIAL */
  /* BACKGROUND SIZE */
  /* BACKGROUND COLOR OPACITY */
  /* BORDER RADIUS */
  /* BOX */
  /* BOX RGBA */
  /* BOX SHADOW */
  /* BOX SIZING */
  /* COLUMNS */
  /* DOUBLE BORDERS */
  /* FLEX */
  /* FLIP */
  /* FONT FACE */
  /* OPACITY */
  /* OUTLINE RADIUS */
  /* RESIZE */
  /* ROTATE*/
  /* TEXT SHADOW */
  /* TRANSFORM  */
  /* TRANSFORM STYLE */
  /* TRANSITION */
  /* TRIPLE BORDERS */
  /* KEYFRAMES */
  /* ANIMATION */
  /*
   * Sprite
   */
  /**
   * Horizontally and vertically centers block elements
   * Ex: .foo { @include center-block; }
   **/
  /**
   * Create circle
   * Ex: .circle { @include circle(200px, #999); }
   **/
  /*
   * Vertical align
   */
  /* FILTER */
  /**
   * Basic load
   **/
  /**
  *
  * Global
  *
  **/
  html,
  body,
  button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    height: auto;
    position: relative;
    background-color: #fff;
    min-height: 100%;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  img.lazy {
    width: 100%;
  }

  ol, ul {
    list-style: none;
    padding-left: 0;
  }

  dl dd {
    margin-left: 0;
  }

  figure {
    margin: 0;
  }

  .main-view {
    position: relative;
    z-index: 1;
  }

  .wrapper {
    *zoom: 1;
    width: auto;
    max-width: 1260px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0.75rem;
  }

  .wrapper:before, .wrapper:after {
    content: '';
    display: table;
  }

  .wrapper:after {
    clear: both;
  }

  .main-view .wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .main-view .wrapper.collapse {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-view .wrapper.collapse-top {
    padding-top: 0;
  }

  .main-view .wrapper.collapse-bottom {
    padding-bottom: 0;
  }

  .wrapper .section {
    margin-bottom: 3rem;
  }

  .wrapper .section:last-child {
    margin-bottom: 0;
  }

  @media all and (min-width: 880px) {
    .main-view .wrapper {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  @media all and (min-width: 1260px) {
    .main-view .wrapper {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @media all and (min-width: 1420px) {
    .main-view .wrapper {
      padding-top: 132px;
      padding-bottom: 132px;
    }
    .wrapper .section {
      margin-bottom: 132px;
    }
  }

  /* Search result */
  .key-search {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #c0c0c0;
    text-align: center;
  }

  .key-search b {
    color: #1d2868;
    letter-spacing: 0.04em;
  }

  .key-search .key:before, .key-search .key:after {
    font-weight: normal;
    margin: 0 2px;
  }

  .key-search .key:before {
    content: '“';
  }

  .key-search .key:after {
    content: '”';
  }

  /* Custom color zoom */
  .lg-actions .lg-next,
  .lg-actions .lg-prev {
    background-color: #202540 !important;
  }

  .lg-actions .lg-next,
  .lg-actions .lg-prev,
  .lg-toolbar .lg-icon {
    transition: all 0.3s ease-out;
    color: #2a3a98 !important;
    opacity: 0.6;
  }

  .lg-actions .lg-next:hover,
  .lg-actions .lg-prev:hover,
  .lg-toolbar .lg-icon:hover {
    opacity: 1;
  }

  .upp {
    text-transform: uppercase;
  }

  .line {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background-color: #c0c0c0;
  }

  .line.space {
    margin: 1.5rem 0;
  }

  .hidden {
    display: none !important;
    visibility: hidden;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  /*
   * Clearfix
   */
  .clearfix::before, .clearfix::after {
    content: "";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  /**
  *
  * Typography
  *
  **/
  .regular {
    font-family: "Oswald", serif;
  }

  .bold {
    font-family: "Dekar", sans-serif;
  }

  html {
    font-family: "Oswald", serif;
    font-size: 14px;
    color: #06426f;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  h1, h2, h3, h4 {
    font-weight: normal;
  }

  h1, h2 {
    font-size: 2rem;
    color: #060606;
    font-family: "Dekar", sans-serif;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: normal;
  }

  h6 {
    font-size: 1.1rem;
    font-weight: normal;
  }

  @media all and (min-width: 560px) {
    html {
      font-size: 15px;
      line-height: 1.6;
    }
    h1, h2 {
      font-size: 2.4rem;
      line-height: 1;
    }
    h3 {
      font-weight: 400;
    }
  }

  @media all and (min-width: 820px) {
    html {
      font-size: 16px;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.6rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }

  @media all and (min-width: 1200px) {
    html {
      font-size: 18px;
    }
    h1, h2.large {
      font-size: 4rem;
    }
    h1.small, h2, h3.large {
      font-size: 2.66rem;
    }
    h3 {
      font-size: 2.33rem;
    }
    h4 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.66rem;
    }
    h6 {
      font-size: 1.33rem;
    }
  }

  /* Link midia */
  a {
    color: #060606;
    text-decoration: none;
  }

  a:hover {
    color: #1d2868;
  }

  /*
   * Font-face
   */
  /* Generated by Font Squirrel (https://www.fontsquirrel.com) on March 27, 2017 */
  @font-face {
    font-family: 'Oswald';
    src: local("Oswalddd"), url("../fonts/oswald-light-webfont.woff2") format("woff2"), url("../fonts/oswald-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dekar';
    src: local("Dekarrr"), url("../fonts/dekar-webfont.woff2") format("woff2"), url("../fonts/dekar-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .main-header {
    position: relative;
    z-index: 99;
    width: 100%;
    *zoom: 1;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #000000;
    text-align: center;
    color: #fff;
  }

  .main-header:before, .main-header:after {
    content: '';
    display: table;
  }

  .main-header:after {
    clear: both;
  }

  .main-header ul {
    margin: 0;
  }

  .main-header .appbar {
    position: relative;
    z-index: 3;
    padding: 8px;
  }

  .main-header a {
    color: #1d2868;
  }

  /*
   * Header logo
   */
  .main-header .app-title {
    display: block;
    color: #fff;
  }

  .main-header .app-title .logo {
    display: inline-block;
    transition: all 0.3s ease-out;
    *zoom: 1;
    text-decoration: none;
  }

  .main-header .app-title .logo:before, .main-header .app-title .logo:after {
    content: '';
    display: table;
  }

  .main-header .app-title .logo:after {
    clear: both;
  }

  .main-header.horizontal {
    border-bottom: 4px solid #2dacea;
  }

  .main-header.horizontal .app-title {
    max-width: 88px;
  }

  /* Toolbar */
  .main-header .toolbar {
    display: inline-block;
  }

  .main-header .toolbar a {
    position: relative;
    text-transform: uppercase;
    padding: 14px 14px 14px 54px;
    display: block;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: #a1a1a1;
    margin-top: 2px;
    transition: all 0.3s ease-out;
  }

  .main-header .toolbar .icon {
    font-size: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    transition: all 0.2s ease-out;
    text-indent: 0;
  }

  .main-header .toolbar .icon:after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 48%;
    top: 48%;
    background-color: #4860ae;
    display: block;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.6);
    -khtml-transform: translate(-50%, -50%) scale(0.6);
    transform: translate(-50%, -50%) scale(0.6);
    transition: all 0.3s ease-out;
    width: 48px;
    height: 48px;
    border-radius: 32px;
    transition-delay: 0.2s;
  }

  .main-header .toolbar a:hover {
    color: #2df8f9;
  }

  .main-header .toolbar a:hover .icon:after {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -khtml-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  /*
   * Central de atendimento
   */
  .main-header .central-de-atendimento {
    background-color: #fff;
    color: #060606;
    text-align: center;
    padding: 12px;
    letter-spacing: 0.1em;
    display: none;
  }

  .pg-home .main-header .central-de-atendimento {
    display: block;
  }

  .central-de-atendimento .caption {
    line-height: 1.2;
    letter-spacing: 0.1em;
  }

  .central-de-atendimento .label {
    color: #2dacea;
    line-height: 1.2;
  }

  @media all and (min-width: 1200px) {
    .central-de-atendimento .caption {
      letter-spacing: 0.3em;
      margin-bottom: 6px;
    }
  }

  /*
   * Menu
   */
  .main-navigation .nav-item {
    padding: 12px 8px;
    display: block;
    color: #fff;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }

  .main-navigation .nav-item:hover {
    color: #2df8f9;
  }

  /*
   * Menu mobile
   */
  .main-header input#togglemenu {
    position: absolute;
    left: -9999px;
  }

  .main-header .togglemenu {
    position: relative;
    z-index: 1;
    border: none;
    transition: all 0.3s ease-out;
    display: none;
  }

  .main-header .togglemenu.open {
    color: #fff;
    font-size: 1.3em;
    padding: 20px 12px;
    min-width: 42px;
  }

  /* nav icon */
  .main-header .togglemenu .ico-nav {
    position: relative;
    z-index: 2;
    display: block;
    height: 1px;
    width: 20px;
    transition: all 0.3s ease-out;
    background-color: #fff;
    margin: 18px 0;
    float: right;
  }

  .main-header .togglemenu .ico-nav:after, .main-header .togglemenu .ico-nav:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 40px;
    height: 100%;
    background-color: inherit;
    transition: all 0.3s ease-out;
    transition-delay: 0.15s;
  }

  .main-header .togglemenu .ico-nav:before {
    margin-top: -20px;
  }

  .main-header .togglemenu .ico-nav:after {
    margin-top: 18px;
  }

  .main-header .togglemenu .label {
    display: block;
    padding: 10px 48px 10px 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1;
    transition: all 0.3s ease-out;
  }

  .main-header .togglemenu:hover .ico-nav {
    background-color: #2dacea;
  }

  @media all and (min-width: 420px) {
    .main-header .togglemenu.open {
      min-width: 40px;
    }
    .main-header .togglemenu .label {
      padding-right: 60px;
    }
    .main-header .togglemenu .ico-nav {
      width: 24px;
    }
    .main-header .togglemenu .ico-nav:after, .main-header .togglemenu .ico-nav:before {
      width: 48px;
    }
  }

  /* Nav active */
  #togglemenu:checked ~ .togglemenu.close,
  #togglemenu:checked ~ .main-navigation {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -khtml-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.3s ease-out;
  }

  #togglemenu:checked ~ .togglemenu {
    color: #2df8f9;
  }

  #togglemenu:checked ~ .togglemenu .ico-nav {
    width: 0;
    background-color: transparent;
  }

  #togglemenu:checked ~ .togglemenu .ico-nav:before,
  #togglemenu:checked ~ .togglemenu .ico-nav::after {
    margin-top: 0;
    background-color: #2df8f9;
  }

  #togglemenu:checked ~ .togglemenu.open {
    z-index: 99;
  }

  #togglemenu:checked ~ .togglemenu .ico-nav::before {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #togglemenu:checked ~ .togglemenu .ico-nav::after {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media all and (max-width: 480px) {
    .main-header .togglemenu.open {
      font-size: 13px;
    }
  }

  @media all and (max-width: 880px) {
    /* logo */
    .main-header .app-title img {
      max-width: 62px;
    }
    /* main navigation */
    .main-header .main-navigation {
      text-align: center;
    }
    .main-header #togglemenu:checked ~ .main-navigation {
      -ms-box-shadow: 15px 0 40px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 15px 0 40px rgba(0, 0, 0, 0.3);
      box-shadow: 15px 0 40px rgba(0, 0, 0, 0.3);
      transition: -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    .main-navigation .nav-item {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .main-navigation .nav-item:hover {
      color: #2dacea;
    }
    .main-header .togglemenu {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -khtml-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
    }
    .main-header .togglemenu.close,
    .main-header .main-navigation {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: initial;
      transition: all 500ms ease;
      -webkit-transform: translate(-100%, 0);
      -khtml-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
    }
    .main-header .togglemenu.close {
      right: 0;
      z-index: 98;
      display: block;
      background: rgba(0, 0, 0, 0.4);
    }
    .main-header .main-navigation {
      z-index: 999;
      margin-top: 0;
      width: 82%;
      max-width: 420px;
      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-color: #4860ae;
    }
  }

  @media all and (min-width: 880px) {
    .pg-home .main-header {
      position: absolute;
      left: 0;
      top: 0;
      width: 400px;
      height: 100vh;
      max-height: 1080px;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .pg-home .main-header .central-de-atendimento {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .pg-home .main-header .main-navigation li {
      display: block;
    }
    .main-header.vertical .appbar {
      padding-left: 0;
      padding-right: 0;
    }
    .main-header.horizontal .app-title {
      position: relative;
      z-index: 1;
      margin: 0 16px;
      width: 120px;
      max-width: initial;
    }
    .main-header.horizontal .logo {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8;
      display: block;
      width: 100%;
    }
    .main-header.horizontal .main-navigation {
      margin: 16px 0 16px 152px;
      text-align: center;
      *zoom: 1;
    }
    .main-header.horizontal .main-navigation:before, .main-header.horizontal .main-navigation:after {
      content: '';
      display: table;
    }
    .main-header.horizontal .main-navigation:after {
      clear: both;
    }
    .main-header.horizontal .main-navigation .navbar {
      float: left;
    }
    .main-header.horizontal .main-navigation .toolbar {
      float: right;
    }
    .main-header.horizontal .main-navigation .navbar,
    .main-header.horizontal .main-navigation .toolbar {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
    .main-header.horizontal .toolbar li {
      display: inline-block;
      vertical-align: middle;
    }
    .main-navigation .navbar li,
    .main-navigation > .nav-item {
      display: inline-block;
      vertical-align: middle;
    }
    .main-navigation .nav-item {
      padding: 14px 16px;
      line-height: 24px;
      letter-spacing: 0.04em;
      transition: all 0.3s ease-out;
    }
    .main-navigation a.nav-item:hover {
      background-color: #000000;
      color: #2df8f9;
    }
    .pg-about .main-navigation .nav-item.about {
      color: #2df8f9;
      cursor: default;
    }
    .pg-about .main-navigation .nav-item.about:after {
      opacity: 1;
      width: 48px;
      background-color: #1f0866;
    }
    .pg-service .main-navigation .nav-item.service {
      color: #2df8f9;
      cursor: default;
    }
    .pg-service .main-navigation .nav-item.service:after {
      opacity: 1;
      width: 48px;
      background-color: #1f0866;
    }
    .pg-franquia .main-navigation .nav-item.franquia {
      color: #2df8f9;
      cursor: default;
    }
    .pg-franquia .main-navigation .nav-item.franquia:after {
      opacity: 1;
      width: 48px;
      background-color: #1f0866;
    }
    .pg-orcamento .main-navigation .nav-item.orcamento {
      color: #2df8f9;
      cursor: default;
    }
    .pg-orcamento .main-navigation .nav-item.orcamento:after {
      opacity: 1;
      width: 48px;
      background-color: #1f0866;
    }
    .pg-contact .main-navigation .nav-item.contact {
      color: #2df8f9;
      cursor: default;
    }
    .pg-contact .main-navigation .nav-item.contact:after {
      opacity: 1;
      width: 48px;
      background-color: #1f0866;
    }
  }

  @media all and (min-width: 880px) and (max-width: 1160px) {
    .main-header.horizontal .toolbar a {
      text-indent: -999rem;
      padding-right: 0;
    }
  }

  @media all and (min-height: 800px) {
    .main-header.vertical .app-title {
      padding: 20px 0;
    }
    .main-header.vertical .navbar a {
      padding: 20px 12px;
      letter-spacing: 0.2em;
    }
  }

  @media all and (min-height: 872px) {
    .main-header.vertical .navbar {
      margin: 10% 0 8%;
    }
    .main-header.vertical .toolbar a {
      margin-top: 8px;
    }
  }

  @media all and (min-width: 1280px) {
    .main-header .central-de-atendimento {
      padding-top: 20px;
    }
    .main-navigation .nav-item {
      padding: 14px 20px;
      letter-spacing: 0.08em;
    }
  }

  @media all and (min-width: 1460px) {
    .main-header.horizontal .main-navigation {
      margin-left: 180px;
    }
    .main-navigation .nav-item {
      padding-left: 26px;
      padding-right: 26px;
      letter-spacing: 0.12em;
    }
  }

  /*
   * Home First struture
   */
  .main-dash {
    *zoom: 1;
    text-align: center;
  }

  .main-dash:before, .main-dash:after {
    content: '';
    display: table;
  }

  .main-dash:after {
    clear: both;
  }

  .main-dash .dash {
    position: relative;
    z-index: 2;
    background: #060606 no-repeat 50% 50%;
    -khtml-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 30px 0;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* title */
  .main-dash .dash .heading {
    text-transform: uppercase;
  }

  /* service */
  .main-dash .service {
    background-image: url(../img/bg-service.jpg);
    background-position: 100% 50%;
    overflow: hidden;
  }

  .main-dash .service:before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }

  @media all and (min-width: 880px) {
    .main-dash .service {
      height: 100vh;
      max-height: 1080px;
      padding-left: 400px;
    }
  }

  .main-dash .dash-user {
    *zoom: 1;
  }

  .main-dash .dash-user:before, .main-dash .dash-user:after {
    content: '';
    display: table;
  }

  .main-dash .dash-user:after {
    clear: both;
  }

  /* Seja uma franquia */
  .main-dash .seja-uma-franquia {
    color: #2dacea;
    background-image: url(../img/bg-franquia.jpg);
    letter-spacing: 0.08em;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-dash .seja-uma-franquia .btn {
    margin: 1.5rem 0 0;
  }

  /* Portal dos usuários */
  .main-dash .widget-portal {
    *zoom: 1;
  }

  .main-dash .widget-portal:before, .main-dash .widget-portal:after {
    content: '';
    display: table;
  }

  .main-dash .widget-portal:after {
    clear: both;
  }

  .main-dash .widget-portal a {
    display: block;
    padding: 30px 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 0.2em;
    font-family: "Dekar", sans-serif;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.2;
    transition: all 0.3s ease-out;
  }

  .main-dash .widget-portal .company {
    background-color: #202540;
  }

  .main-dash .widget-portal .client {
    background-color: #3f5498;
  }

  .main-dash .widget-portal .icon {
    font-size: 8rem;
    display: block;
  }

  .main-dash .widget-portal a:hover {
    background-color: #060606;
    color: #a1a1a1;
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.4);
  }

  @media all and (min-width: 448px) and (max-width: 600px), all and (min-width: 1200px) {
    .main-dash .widget-portal a {
      width: 50%;
      float: left;
    }
  }

  /* grid box */
  @media all and (min-width: 600px) {
    .main-dash .seja-uma-franquia {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
  }

  @media all and (min-width: 600px) and (max-width: 1200px) {
    .main-dash .seja-uma-franquia,
    .main-dash .widget-portal {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 50%;
      margin-left: 0%;
      margin-right: 0%;
    }
    .main-dash .seja-uma-franquia:before, .main-dash .seja-uma-franquia:after,
    .main-dash .widget-portal:before,
    .main-dash .widget-portal:after {
      content: '';
      display: table;
    }
    .main-dash .seja-uma-franquia:after,
    .main-dash .widget-portal:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia {
      height: 540px;
    }
    .main-dash .widget-portal a {
      height: 270px;
    }
  }

  @media all and (min-width: 1200px) and (max-width: 1420px) {
    .main-dash .service {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 66.6666666667%;
      margin-left: 0%;
      margin-right: 0%;
    }
    .main-dash .service:before, .main-dash .service:after {
      content: '';
      display: table;
    }
    .main-dash .service:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 33.3333333333%;
      margin-left: 0%;
      margin-right: 0%;
      max-height: 1080px;
    }
    .main-dash .seja-uma-franquia:before, .main-dash .seja-uma-franquia:after {
      content: '';
      display: table;
    }
    .main-dash .seja-uma-franquia:after {
      clear: both;
    }
    .main-dash .service,
    .main-dash .seja-uma-franquia {
      height: 100vh;
    }
    .main-dash .widget-portal {
      float: left;
      width: 100%;
    }
  }

  @media all and (min-width: 1420px) {
    .main-dash .service {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 56%;
      margin-left: 0%;
      margin-right: 0%;
    }
    .main-dash .service:before, .main-dash .service:after {
      content: '';
      display: table;
    }
    .main-dash .service:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia,
    .main-dash .widget-portal {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 44%;
      margin-left: 0%;
      margin-right: 0%;
    }
    .main-dash .seja-uma-franquia:before, .main-dash .seja-uma-franquia:after,
    .main-dash .widget-portal:before,
    .main-dash .widget-portal:after {
      content: '';
      display: table;
    }
    .main-dash .seja-uma-franquia:after,
    .main-dash .widget-portal:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia,
    .main-dash .widget-portal a {
      height: 50vh;
      max-height: 540px;
    }
    .main-dash .widget-portal a {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
  }

  @media all and (min-height: 768px) {
    .main-dash .service .feed-list {
      padding-top: 32px;
    }
  }

  @media all and (max-height: 640px) and (min-width: 880px) and (max-width: 1200px) {
    .pg-home .main-header,
    .main-dash .service {
      min-height: 580px;
    }
    .pg-home .main-header .app-title {
      margin: 20px 0;
    }
    .pg-home .main-header .toolbar {
      display: none;
    }
  }

  @media all and (max-height: 700px) and (min-width: 1200px) {
    .main-dash .service .heading {
      margin-bottom: 12px;
    }
    .main-dash .service .feed-item .heading {
      margin-bottom: 0;
    }
    .main-dash .service .slick-slider .slick-dots {
      margin: 0;
    }
    .main-header.vertical .app-title img {
      height: 160px;
      padding: 10px 0;
    }
    .main-header .central-de-atendimento {
      padding-top: 10px;
      padding-bottom: 0;
    }
    .pg-home .main-header,
    .main-dash .service,
    .main-dash .seja-uma-franquia {
      min-height: 648px;
    }
  }

  /* title */
  .service .heading.main .title {
    color: #2df8f9;
  }

  /* item */
  .main-view .service a {
    display: block;
    transition: all 0.3s ease-out;
    text-align: center;
  }

  .main-dash .service a {
    color: #fff;
    padding: 16px;
  }

  .service .feed-item .heading {
    margin: 16px 0;
  }

  .service .feed-item .icon {
    color: #2dacea;
    display: block;
  }

  .service .feed-item .icon img {
    display: initial;
  }

  .service .icon img.lazy {
    width: initial;
  }

  .service .feed-item .title {
    color: inherit;
    letter-spacing: 0.16em;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  .service .feed-item .caption {
    opacity: 0.6;
    transition: all 0.2s ease-out;
  }

  .main-dash .service .feed-item .caption {
    color: #fff;
  }

  .main-dash .service .feed-item .icon {
    min-height: 148px;
  }

  .main-dash .service .icon img {
    max-height: 148px;
  }

  /* :hover */
  .main-view .service a:hover {
    color: #2dacea;
  }

  .main-dash .service a:hover {
    color: #2df8f9;
  }

  .main-view .service a:hover .caption {
    opacity: 1;
  }

  /* slider */
  .service .slick-initialized .feed-item {
    opacity: 0.4;
    -webkit-transform: scale(0.8);
    -khtml-transform: scale(0.8);
    transform: scale(0.8);
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }

  .service .slick-initialized .feed-item.slick-current {
    opacity: 1;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    transform: scale(1);
    transition-delay: 0.2s;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  @media all and (min-height: 842px) and (min-width: 880px) {
    .main-dash .service .feed-list {
      margin-top: 60px;
      margin-top: 8vh;
    }
  }

  @media all and (min-height: 560px) and (min-width: 880px) {
    .main-dash .service .feed-item .icon {
      min-height: 240px;
    }
    .main-dash .service .icon img {
      max-height: initial;
    }
  }

  @media all and (min-width: 1600px) {
    .main-dash .service a {
      padding-left: 24px;
      padding-right: 24px;
    }
    .main-dash .service .feed-list .title {
      margin-top: 32px;
    }
  }

  /*
   * Serviços list
   */
  .pg-service .feed-list .feed-item {
    margin-top: 24px;
  }

  .pg-service .feed-item .icon img {
    max-height: 160px;
  }

  @media all and (min-width: 1200px) {
    .pg-service .feed-list .feed-item {
      margin-top: 48px;
    }
  }

  /*
   * Serviço detalhe
   */
  .pg-service-show .heading.flex {
    *zoom: 1;
    text-align: center;
  }

  .pg-service-show .heading.flex:before, .pg-service-show .heading.flex:after {
    content: '';
    display: table;
  }

  .pg-service-show .heading.flex:after {
    clear: both;
  }

  .pg-service-show .heading.flex .icon {
    display: block;
    margin: 0 auto 12px;
  }

  .pg-service-show .heading.flex .icon img {
    max-height: 140px;
    width: auto;
  }

  /* solicite um orcamento */
  .main-view .widget-orcamento {
    background-color: #4860ae;
    color: #fff;
    text-align: center;
    padding: 32px 16px;
    margin-top: 1.5rem;
  }

  .main-view .widget-orcamento .info {
    display: block;
    color: #eee;
    letter-spacing: 0.08em;
    opacity: 0.8;
  }

  @media all and (min-width: 560px) {
    .pg-service-show .heading.flex {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      text-align: left;
    }
    .pg-service-show .heading.flex .icon {
      float: left;
      margin: 0 24px 0 0;
    }
    .pg-service-show .heading.flex .icon img {
      max-height: 180px;
    }
  }

  @media all and (min-width: 1200px) {
    .pg-service-show .heading.flex .icon {
      margin-right: 32px;
    }
    .main-view .widget-orcamento {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
    .main-view .widget-orcamento .box-title {
      width: 50%;
      margin-right: 12px;
    }
  }

  /*
   * Heading
   */
  .heading {
    margin-bottom: 1rem;
  }

  .heading .title {
    color: #2dacea;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .heading .light {
    color: #2df8f9;
  }

  .heading .caption {
    margin-top: 0.35rem;
    letter-spacing: 0.08em;
  }

  /* Header main */
  @media all and (min-width: 680px) {
    .heading {
      margin-bottom: 2rem;
    }
  }

  @media all and (min-width: 1080px) {
    .heading .title {
      letter-spacing: 0.16em;
    }
  }

  .error-page {
    color: #1C3745;
    font-size: 18px;
    margin: 24px 0;
  }

  .error-page .code {
    font-size: 98px;
    letter-spacing: 0.2em;
    line-height: 1.2em;
    color: #2dacea;
    font-weight: bold;
  }

  .error-page .title {
    font-size: 24px;
    letter-spacing: 0.2em;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .error-page .resume {
    margin-bottom: 24px;
    color: #555;
  }

  .error-page .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #555;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    border-radius: 32px;
  }

  .error-page .btn:hover {
    background-color: #2dacea;
  }

  @media all and (min-width: 720px) {
    .error-page {
      font-size: 20px;
      margin: 48px 0;
    }
    .error-page .code {
      font-size: 148px;
      letter-spacing: 0.4em;
    }
    .error-page .title {
      font-size: 28px;
    }
  }

  /*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
  progress, sub, sup {
    vertical-align: baseline;
  }

  button, hr, input {
    overflow: visible;
  }

  img, legend {
    max-width: 100%;
  }

  [type=checkbox], [type=radio], legend {
    box-sizing: border-box;
    padding: 0;
  }

  body, html, img.lazy {
    width: 100%;
  }

  .main-header, .main-header .appbar, .main-view, body, sub, sup {
    position: relative;
  }

  .clearfix::after, .main-dash .dash-user:after, .main-dash .widget-portal:after, .main-dash:after, .main-header .app-title .logo:after, .main-header:after, .wrapper:after {
    clear: both;
  }

  html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
  }

  audio, canvas, progress, video {
    display: inline-block;
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  [hidden], template {
    display: none;
  }

  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  a:active, a:hover {
    outline-width: 0;
  }

  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  b, strong {
    font-weight: bolder;
  }

  dfn {
    font-style: italic;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  img {
    border-style: none;
    vertical-align: middle;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
  }

  hr {
    box-sizing: content-box;
    height: 0;
  }

  button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
  }

  optgroup {
    font-weight: 700;
  }

  button, select {
    text-transform: none;
  }

  .error-page .btn, .error-page .title, .heading .title, .main-dash .dash .heading, .main-dash .widget-portal a, .main-header .toolbar .toggle, .main-navigation .nav-item, .upp {
    text-transform: uppercase;
  }

  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
  }

  [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted 1px;
  }

  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
  }

  legend {
    color: inherit;
    display: table;
    white-space: normal;
  }

  textarea {
    overflow: auto;
  }

  [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
  }

  [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  body, button, html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    height: auto;
    background-color: #fff;
    min-height: 100%;
  }

  ol, ul {
    list-style: none;
    padding-left: 0;
  }

  dl dd {
    margin-left: 0;
  }

  figure {
    margin: 0;
  }

  .main-view {
    z-index: 1;
  }

  .wrapper {
    width: auto;
    max-width: 1260px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: .75rem;
  }

  .wrapper:after, .wrapper:before {
    content: '';
    display: table;
  }

  .main-view .wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .main-view .wrapper.collapse {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-view .wrapper.collapse-top {
    padding-top: 0;
  }

  .main-view .wrapper.collapse-bottom {
    padding-bottom: 0;
  }

  .wrapper .section {
    margin-bottom: 3rem;
  }

  .wrapper .section:last-child {
    margin-bottom: 0;
  }

  @media all and (min-width: 880px) {
    .main-view .wrapper {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  @media all and (min-width: 1260px) {
    .main-view .wrapper {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @media all and (min-width: 1420px) {
    .main-view .wrapper {
      padding-top: 132px;
      padding-bottom: 132px;
    }
    .wrapper .section {
      margin-bottom: 132px;
    }
  }

  .key-search {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted silver;
    text-align: center;
  }

  .key-search b {
    color: #1d2868;
    letter-spacing: .04em;
  }

  .key-search .key:after, .key-search .key:before {
    font-weight: 400;
    margin: 0 2px;
  }

  .key-search .key:before {
    content: '“';
  }

  .key-search .key:after {
    content: '”';
  }

  .lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: #202540 !important;
  }

  .lg-actions .lg-next, .lg-actions .lg-prev, .lg-toolbar .lg-icon {
    transition: all .3s ease-out;
    color: #2a3a98 !important;
    opacity: .6;
  }

  a, h1, h2 {
    color: #060606;
  }

  .lg-actions .lg-next:hover, .lg-actions .lg-prev:hover, .lg-toolbar .lg-icon:hover {
    opacity: 1;
  }

  .line {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background-color: silver;
  }

  .line.space {
    margin: 1.5rem 0;
  }

  .main-header ul, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  .hidden {
    display: none !important;
    visibility: hidden;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  .clearfix::after, .clearfix::before {
    content: "";
    display: table;
  }

  .regular {
    font-family: Oswald,serif;
  }

  .bold {
    font-family: Dekar,sans-serif;
  }

  html {
    font-family: Oswald,serif;
    font-size: 14px;
    color: #06426f;
    font-weight: 300;
  }

  .main-dash .widget-portal a, h1, h2 {
    font-family: Dekar,sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  h1, h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  @media all and (min-width: 560px) {
    html {
      font-size: 15px;
      line-height: 1.6;
    }
    h1, h2 {
      font-size: 2.4rem;
      line-height: 1;
    }
    h3 {
      font-weight: 400;
    }
  }

  @media all and (min-width: 820px) {
    html {
      font-size: 16px;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.6rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }

  @media all and (min-width: 1200px) {
    html {
      font-size: 18px;
    }
    h1, h2.large {
      font-size: 4rem;
    }
    h1.small, h2, h3.large {
      font-size: 2.66rem;
    }
    h3 {
      font-size: 2.33rem;
    }
    h4 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.66rem;
    }
    h6 {
      font-size: 1.33rem;
    }
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #1d2868;
  }

  @font-face {
    font-family: Oswald;
    src: local("Oswalddd"), url(../fonts/oswald-light-webfont.woff2) format("woff2"), url(../fonts/oswald-light-webfont.woff) format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: Dekar;
    src: local("Dekarrr"), url(../fonts/dekar-webfont.woff2) format("woff2"), url(../fonts/dekar-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }

  .main-header {
    z-index: 99;
    width: 100%;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    text-align: center;
    color: #fff;
  }

  .main-dash .dash, .main-dash .widget-portal a {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
  }

  .main-header:after, .main-header:before {
    content: '';
    display: table;
  }

  .main-header .appbar {
    z-index: 3;
    padding: 8px;
  }

  .main-header a {
    color: #1d2868;
  }

  .main-header .app-title {
    display: block;
    color: #fff;
  }

  .main-header .app-title .logo {
    display: inline-block;
    transition: all .3s ease-out;
    text-decoration: none;
  }

  .main-header .app-title .logo:after, .main-header .app-title .logo:before {
    content: '';
    display: table;
  }

  .main-header.horizontal {
    border-bottom: 4px solid #2dacea;
  }

  .main-header.horizontal .app-title {
    max-width: 88px;
  }

  .main-header .toolbar {
    display: inline-block;
  }

  .main-header .toolbar .toggle {
    position: relative;
    padding: 14px 14px 14px 54px;
    display: block;
    text-align: left;
    font-size: 14px;
    letter-spacing: .08em;
    color: #a1a1a1;
    margin-top: 2px;
    transition: all .3s ease-out;
    background: 0 0;
    border: none;
  }

  .main-header .toolbar .icon {
    font-size: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    transition: all .2s ease-out;
    text-indent: 0;
  }

  .main-header .toolbar .icon:after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 48%;
    top: 48%;
    background-color: #4860ae;
    display: block;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.6);
    -khtml-transform: translate(-50%, -50%) scale(0.6);
    transform: translate(-50%, -50%) scale(0.6);
    transition: all .3s ease-out;
    width: 48px;
    height: 48px;
    border-radius: 32px;
    transition-delay: .2s;
  }

  .main-header .toolbar .toggle:focus {
    outline: 0;
  }

  .main-header .toolbar .toggle:hover {
    color: #2df8f9;
  }

  .main-header .toolbar .toggle:hover .icon:after {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -khtml-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  .main-header .central-de-atendimento {
    background-color: #fff;
    color: #060606;
    text-align: center;
    padding: 12px;
    letter-spacing: .1em;
    display: none;
  }

  .pg-home .main-header .central-de-atendimento {
    display: block;
  }

  .central-de-atendimento .caption {
    line-height: 1.2;
    letter-spacing: .1em;
  }

  .central-de-atendimento .label {
    color: #2dacea;
    line-height: 1.2;
  }

  @media all and (min-width: 1200px) {
    .central-de-atendimento .caption {
      letter-spacing: .3em;
      margin-bottom: 6px;
    }
  }

  .main-navigation .nav-item {
    padding: 12px 8px;
    display: block;
    color: #fff;
    letter-spacing: .18em;
  }

  .main-navigation .nav-item:hover {
    color: #2df8f9;
  }

  .main-header input#togglemenu {
    position: absolute;
    left: -9999px;
  }

  .main-header .togglemenu {
    position: relative;
    z-index: 1;
    border: none;
    transition: all .3s ease-out;
    display: none;
  }

  .main-header .togglemenu.open {
    color: #fff;
    font-size: 1.3em;
    padding: 20px 12px;
    min-width: 42px;
  }

  .main-header .togglemenu .ico-nav {
    position: relative;
    z-index: 2;
    display: block;
    height: 1px;
    width: 20px;
    transition: all .3s ease-out;
    background-color: #fff;
    margin: 18px 0;
    float: right;
  }

  .main-header .togglemenu .ico-nav:after, .main-header .togglemenu .ico-nav:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 40px;
    height: 100%;
    background-color: inherit;
    transition: all .3s ease-out;
    transition-delay: .15s;
  }

  .main-header .togglemenu .ico-nav:before {
    margin-top: -20px;
  }

  .main-header .togglemenu .ico-nav:after {
    margin-top: 18px;
  }

  .main-header .togglemenu .label {
    display: block;
    padding: 10px 48px 10px 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1;
    transition: all .3s ease-out;
  }

  .main-header .togglemenu:hover .ico-nav {
    background-color: #2dacea;
  }

  @media all and (min-width: 420px) {
    .main-header .togglemenu.open {
      min-width: 40px;
    }
    .main-header .togglemenu .label {
      padding-right: 60px;
    }
    .main-header .togglemenu .ico-nav {
      width: 24px;
    }
    .main-header .togglemenu .ico-nav:after, .main-header .togglemenu .ico-nav:before {
      width: 48px;
    }
  }

  #togglemenu:checked ~ .main-navigation, #togglemenu:checked ~ .togglemenu.close {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -khtml-transform: translateX(0);
    transform: translateX(0);
    transition: all .3s ease-out;
  }

  #togglemenu:checked ~ .togglemenu {
    color: #2df8f9;
  }

  #togglemenu:checked ~ .togglemenu .ico-nav {
    width: 0;
    background-color: transparent;
  }

  #togglemenu:checked ~ .togglemenu .ico-nav::after, #togglemenu:checked ~ .togglemenu .ico-nav:before {
    margin-top: 0;
    background-color: #2df8f9;
  }

  #togglemenu:checked ~ .togglemenu.open {
    z-index: 99;
  }

  #togglemenu:checked ~ .togglemenu .ico-nav::before {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #togglemenu:checked ~ .togglemenu .ico-nav::after {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media all and (max-width: 480px) {
    .main-header .togglemenu.open {
      font-size: 13px;
    }
  }

  @media all and (max-width: 880px) {
    .main-header .app-title img {
      max-width: 62px;
    }
    .main-header #togglemenu:checked ~ .main-navigation {
      -ms-box-shadow: 15px 0 40px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 15px 0 40px rgba(0, 0, 0, 0.3);
      box-shadow: 15px 0 40px rgba(0, 0, 0, 0.3);
      transition: -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    .main-navigation .nav-item {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .main-navigation .nav-item:hover {
      color: #2dacea;
    }
    .main-header .togglemenu {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -khtml-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
    }
    .main-header .main-navigation, .main-header .togglemenu.close {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: initial;
      transition: all .5s ease;
      -webkit-transform: translate(-100%, 0);
      -khtml-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
    }
    .main-header .togglemenu.close {
      right: 0;
      z-index: 98;
      display: block;
      background: rgba(0, 0, 0, 0.4);
    }
    .main-header .main-navigation {
      text-align: center;
      z-index: 999;
      margin-top: 0;
      width: 82%;
      max-width: 420px;
      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-color: #4860ae;
    }
  }

  .dash.service .feed-item .title, .main-dash .widget-portal a {
    transition: all .3s ease-out;
  }

  @media all and (min-width: 880px) {
    .pg-about .main-navigation .nav-item.about, .pg-contact .main-navigation .nav-item.contact, .pg-franquia .main-navigation .nav-item.franquia, .pg-orcamento .main-navigation .nav-item.orcamento, .pg-service .main-navigation .nav-item.service {
      color: #2df8f9;
      cursor: default;
    }
    .pg-home .main-header {
      position: absolute;
      left: 0;
      top: 0;
      width: 400px;
      height: 100vh;
      max-height: 1080px;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .pg-home .main-header .central-de-atendimento {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .pg-home .main-header .main-navigation li {
      display: block;
    }
    .main-header.vertical .appbar {
      padding-left: 0;
      padding-right: 0;
    }
    .main-header.horizontal .app-title {
      position: relative;
      z-index: 1;
      margin: 0 16px;
      width: 110px;
      max-width: initial;
    }
    .main-header.horizontal .logo {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8;
      display: block;
      width: 100%;
    }
    .main-header.horizontal .main-navigation {
      margin: 16px 0 16px 152px;
      text-align: center;
    }
    .main-header.horizontal .main-navigation:after, .main-header.horizontal .main-navigation:before {
      content: '';
      display: table;
    }
    .main-header.horizontal .main-navigation:after {
      clear: both;
    }
    .main-header.horizontal .main-navigation .navbar {
      float: left;
    }
    .main-header.horizontal .main-navigation .toolbar {
      float: right;
    }
    .main-header.horizontal .main-navigation .navbar, .main-header.horizontal .main-navigation .toolbar {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
    .main-header.horizontal .toolbar li, .main-navigation .navbar li, .main-navigation > .nav-item {
      display: inline-block;
      vertical-align: middle;
    }
    .main-navigation .nav-item {
      padding: 14px 16px;
      line-height: 24px;
      letter-spacing: .04em;
      transition: all .3s ease-out;
    }
    .main-navigation a.nav-item:hover {
      background-color: #000;
      color: #2df8f9;
    }
    .pg-about .main-navigation .nav-item.about:after, .pg-contact .main-navigation .nav-item.contact:after, .pg-franquia .main-navigation .nav-item.franquia:after, .pg-orcamento .main-navigation .nav-item.orcamento:after, .pg-service .main-navigation .nav-item.service:after {
      opacity: 1;
      width: 48px;
      background-color: #1f0866;
    }
  }

  @media all and (min-width: 880px) and (max-width: 1160px) {
    .main-header.horizontal .toolbar a {
      text-indent: -999rem;
      padding-right: 0;
    }
  }

  @media all and (min-height: 800px) {
    .main-header.vertical .app-title {
      padding: 20px 0;
    }
    .main-header.vertical .navbar a {
      padding: 20px 12px;
      letter-spacing: .2em;
    }
  }

  @media all and (min-height: 872px) {
    .main-header.vertical .navbar {
      margin: 10% 0 8%;
    }
    .main-header.vertical .toolbar a {
      margin-top: 8px;
    }
  }

  @media all and (min-width: 1280px) {
    .main-header .central-de-atendimento {
      padding-top: 20px;
    }
    .main-navigation .nav-item {
      padding: 14px 20px;
      letter-spacing: .08em;
    }
  }

  @media all and (min-width: 1460px) {
    .main-header.horizontal .main-navigation {
      margin-left: 180px;
    }
    .main-navigation .nav-item {
      padding-left: 26px;
      padding-right: 26px;
      letter-spacing: .12em;
    }
  }

  #banner .slick-slider .slick-next, #banner .slick-slider .slick-prev {
    margin-left: 12px;
    margin-right: 12px;
  }

  .main-dash .widget-banner {
    float: left;
    width: 100%;
    overflow: hidden;
  }

  .main-dash .widget-banner ul {
    margin: 0;
  }

  .main-dash .widget-banner.dash {
    padding: 0;
  }

  .main-dash .widget-banner img {
    display: block;
    margin: 0 auto;
  }

  body #acesso-restrito {
    height: 0;
    overflow: hidden;
  }

  body #acesso-restrito.enter, body.dashboard-open #acesso-restrito {
    height: initial;
    overflow: initial;
  }

  body #acesso-restrito.enter {
    display: none;
  }

  body.dashboard-open #acesso-restrito {
    display: block;
  }

  .main-dash {
    text-align: center;
  }

  .main-dash:after, .main-dash:before {
    content: '';
    display: table;
  }

  .main-dash .dash {
    position: relative;
    z-index: 2;
    background: 50% 50% no-repeat #060606;
    -khtml-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 30px 0;
    box-sizing: border-box;
  }

  .main-dash .service {
    background-image: url(../img/bg-service.jpg);
    background-position: 100% 50%;
    overflow: hidden;
  }

  .main-dash .service:before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .main-dash .dash-user:after, .main-dash .dash-user:before, .main-dash .widget-portal:after, .main-dash .widget-portal:before {
    content: '';
    display: table;
  }

  @media all and (min-width: 880px) {
    .main-dash .service {
      height: 100vh;
      max-height: 1080px;
      padding-left: 400px;
    }
  }

  .main-dash .seja-uma-franquia {
    color: #2dacea;
    background-image: url(../img/bg-franquia.jpg);
    letter-spacing: .08em;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-dash .seja-uma-franquia .btn {
    margin: 1.5rem 0 0;
  }

  .main-dash .widget-portal a {
    display: block;
    padding: 30px 16px;
    text-align: center;
    color: #fff;
    letter-spacing: .2em;
    box-sizing: border-box;
    line-height: 1.2;
  }

  .main-dash .widget-portal .icon {
    font-size: 4rem;
    display: block;
  }

  .main-dash .widget-portal a:nth-child(odd) {
    background-color: #202540;
  }

  .main-dash .widget-portal a:nth-child(even) {
    background-color: #3f5498;
  }

  .main-dash .widget-portal a:hover {
    background-color: #2df8f9;
    color: #060606;
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.4);
  }

  @media all and (min-width: 448px) {
    #acesso-restrito.main-dash .widget-portal a {
      width: 50%;
      float: left;
    }
  }

  @media all and (min-width: 880px) {
    #acesso-restrito.main-dash .widget-portal a {
      width: 25%;
    }
  }

  @media all and (min-width: 600px) {
    .main-dash .seja-uma-franquia {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }
  }

  @media all and (min-width: 600px) and (max-width: 1200px) {
    .main-dash .seja-uma-franquia, .main-dash .widget-banner {
      float: left;
      clear: none;
      text-align: inherit;
      width: 50%;
      margin-left: 0;
      margin-right: 0;
    }
    .main-dash .seja-uma-franquia:after, .main-dash .seja-uma-franquia:before, .main-dash .widget-banner:after, .main-dash .widget-banner:before {
      content: '';
      display: table;
    }
    .main-dash .seja-uma-franquia:after, .main-dash .widget-banner:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia {
      height: 420px;
    }
    .main-dash .widget-portal a {
      height: 150px;
      padding-top: 16px;
    }
  }

  @media all and (min-width: 1200px) and (max-width: 1420px) {
    .main-dash .seja-uma-franquia, .main-dash .service {
      text-align: inherit;
      margin-left: 0;
      margin-right: 0;
      float: left;
    }
    .main-dash .seja-uma-franquia:after, .main-dash .seja-uma-franquia:before, .main-dash .service:after, .main-dash .service:before {
      content: '';
      display: table;
    }
    .main-dash .service {
      clear: none;
      width: 66.6666666667%;
    }
    .main-dash .service:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia {
      clear: none;
      width: 33.3333333333%;
      max-height: 1080px;
    }
    .main-dash .seja-uma-franquia:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia, .main-dash .service {
      height: 100vh;
    }
    .main-dash .widget-portal {
      float: left;
      width: 100%;
    }
    .main-dash .widget-portal a {
      width: 25%;
    }
  }

  @media all and (min-width: 1200px) {
    .main-dash .widget-portal .info {
      font-size: 1rem;
    }
    .main-dash .widget-portal .large {
      font-size: 1.5rem;
    }
  }

  @media all and (min-width: 1420px) {
    .main-dash .seja-uma-franquia:after, .main-dash .seja-uma-franquia:before, .main-dash .service:after, .main-dash .service:before, .main-dash .widget-banner:after, .main-dash .widget-banner:before {
      content: '';
      display: table;
    }
    .main-dash .service {
      float: left;
      clear: none;
      text-align: inherit;
      width: 60%;
      margin-left: 0;
      margin-right: 0;
    }
    .main-dash .service:after {
      clear: both;
    }
    .main-dash .seja-uma-franquia, .main-dash .widget-banner {
      float: left;
      clear: none;
      text-align: inherit;
      width: 40%;
      margin-left: 0;
      margin-right: 0;
      height: 50vh;
      max-height: 540px;
    }
    .main-dash .seja-uma-franquia:after, .main-dash .widget-banner:after {
      clear: both;
    }
  }

  @media all and (min-height: 960px) {
    .main-dash .seja-uma-franquia {
      height: 54vh;
    }
    .main-dash .widget-banner {
      height: 46vh;
    }
  }

  @media all and (min-height: 768px) {
    .main-dash .service .feed-list {
      padding-top: 32px;
    }
  }

  @media all and (max-height: 640px) and (min-width: 880px) and (max-width: 1200px) {
    .main-dash .service, .pg-home .main-header {
      min-height: 580px;
    }
    .pg-home .main-header .app-title {
      margin: 20px 0;
    }
  }

  @media all and (max-height: 700px) and (min-width: 1200px) {
    .main-header.vertical .app-title img {
      height: 160px;
      padding: 10px 0;
    }
    .main-header .central-de-atendimento {
      padding-top: 10px;
      padding-bottom: 0;
    }
    .main-dash .seja-uma-franquia, .main-dash .service {
      min-height: 648px;
    }
  }

  .main-dash .service .slick-slider .slick-dots {
    margin: 0 0 1rem;
  }

  .dash.service .feed-item .heading {
    margin: 12px 0 0;
  }

  .dash.service .feed-list .feed-item img {
    width: initial;
    height: 72px;
    margin: 0 auto;
    display: block;
  }

  .dash.service .feed-item .heading .title {
    min-height: 48px;
    line-height: 1.2;
    letter-spacing: .04em;
    font-size: 20px;
  }

  .dash.service .feed-item a {
    display: block;
  }

  .dash.service .feed-item a:hover .title {
    color: #fff;
  }

  .dash.service .feed-list {
    padding: 0 8px;
    text-align: center;
  }

  .dash.service .feed-list .feed-item {
    padding: 24px 8px;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  @media all and (max-width: 600px) {
    .dash.service .feed-list > .feed-item {
      float: left;
      clear: none;
      text-align: inherit;
      width: 50%;
      margin-left: 0;
      margin-right: 0;
    }
    .dash.service .feed-list > .feed-item:after, .dash.service .feed-list > .feed-item:nth-of-type(2n+1) {
      clear: both;
    }
    .dash.service .feed-list > .feed-item:after, .dash.service .feed-list > .feed-item:before {
      content: '';
      display: table;
    }
    .dash.service .feed-list > .feed-item:nth-of-type(2n) {
      float: right;
    }
  }

  @media all and (min-width: 601px) {
    .dash.service .feed-list > .feed-item {
      float: left;
      clear: none;
      text-align: inherit;
      width: 33.3333333333%;
      margin-left: 0;
      margin-right: 0;
    }
    .dash.service .feed-list > .feed-item:after, .dash.service .feed-list > .feed-item:nth-of-type(3n+1) {
      clear: both;
    }
    .dash.service .feed-list > .feed-item:after, .dash.service .feed-list > .feed-item:before {
      content: '';
      display: table;
    }
    .dash.service .feed-list > .feed-item:nth-of-type(3n) {
      float: right;
    }
    .dash.service .feed-list > .feed-item:nth-child(n+4) {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .dash.service .feed-list {
      padding: 0 16px;
    }
    .dash.service .feed-list .feed-item {
      padding: 24px 16px;
    }
  }

  @media all and (min-width: 1400px) {
    .main-dash .service .slick-slider .slick-dots {
      margin: 0 0 2rem;
    }
  }

  .heading {
    margin-bottom: 1rem;
  }

  .heading .title {
    color: #2dacea;
    letter-spacing: .08em;
  }

  .heading .light {
    color: #2df8f9;
  }

  .heading .caption {
    margin-top: .35rem;
    letter-spacing: .08em;
  }

  .heading.wrap-picture {
    position: relative;
    z-index: 1;
    padding-left: 142px;
  }

  .heading.wrap-picture .box-image {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    border-radius: 60px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .heading.wrap-picture .box-image img {
    display: block;
  }

  @media all and (min-width: 680px) {
    .heading {
      margin-bottom: 2rem;
    }
  }

  @media all and (min-width: 1080px) {
    .heading .title {
      letter-spacing: .16em;
    }
  }

  .error-page {
    color: #1C3745;
    font-size: 18px;
    margin: 24px 0;
  }

  .error-page .code {
    font-size: 98px;
    letter-spacing: .2em;
    line-height: 1.2em;
    color: #2dacea;
    font-weight: 700;
  }

  .error-page .title {
    font-size: 24px;
    letter-spacing: .2em;
    margin-bottom: 40px;
  }

  .error-page .resume {
    margin-bottom: 24px;
    color: #555;
  }

  .error-page .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    letter-spacing: .1em;
    border-radius: 32px;
  }

  .error-page .btn:hover {
    background-color: #2dacea;
  }

  @media all and (min-width: 720px) {
    .error-page {
      font-size: 20px;
      margin: 48px 0;
    }
    .error-page .code {
      font-size: 148px;
      letter-spacing: .4em;
    }
    .error-page .title {
      font-size: 28px;
    }
  }

  /*# sourceMappingURL=basic.css.map */
