/*
////////////////////////////////////////////
/////// * * * TABLE OF CONTENT * * * ///////
////////////////////////////////////////////
    #   Font
    #   Elements
    #   Tags
    #   Buttons
    #   Animation
    #   Media Screen
*/



/*--------------------------------
    #   Font
----------------------------------*/
    @font-face{
        font-family: 'Montserrat-Bold';
            src: url('../fonts/montserrat-bold-webfont.eot');
            src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/montserrat-bold-webfont.woff') format('woff'),
            url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
            url('../fonts/montserrat-bold-webfont.svg#Montserrat-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
    }

    @font-face{
        font-family: 'Montserrat-Regular';
            src: url('../fonts/montserrat-regular-webfont.eot');
            src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/montserrat-regular-webfont.woff') format('woff'),
            url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
            url('../fonts/montserrat-regular-webfont.svg#Montserrat-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: 'Montserrat-Light';
            src: url('../fonts/montserrat-light-webfont.eot');
            src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/montserrat-light-webfont.woff') format('woff'),
            url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
            url('../fonts/montserrat-light-webfont.svg#Montserrat-Light') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: 'Montserrat-Ultralight';
            src: url('../fonts/montserrat-ultralight-webfont.eot');
            src: url('../fonts/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/montserrat-ultralight-webfont.woff') format('woff'),
            url('../fonts/montserrat-ultralight-webfont.ttf') format('truetype'),
            url('../fonts/montserrat-ultralight-webfont.svg#Montserrat-Ultralight') format('svg');
        font-weight: normal;
        font-style: normal;
    }

/*--------------------------------
    #   Elements
----------------------------------*/
    body {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Montserrat-Regular', sans-serif;
        background: #95c2c7;
        overflow-x: hidden;
    }
    ol, ul {
        list-style-position: inside;
        padding-left: 4px;
    }
/*--------------------------------
    #   Tags
----------------------------------*/
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat-Bold';
    }

    .container {
        max-width: 1120px;
    }


    .content {
        display: inline-block;
        vertical-align: middle;
        padding-top: 9%;
    }
    .heading {
        text-transform: uppercase;
        font-size: 115px;
        font-weight: bold;
        margin-bottom: 0px;
        color: #0f424d;
    }

/*--------------------------------
    #   Buttons
----------------------------------*/
    .button {
        color: #fff;
        background-color: #c55b51;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 5px #a9453c;
        display: inline-block;
        padding: 10px 0px;
        width: 180px;
        text-align: center;
        font-family: 'Montserrat-Light';
        text-transform: uppercase;
        outline: none;
    }

    .button:hover,
    .button.hover {
        background-color: #b24f46;
        text-decoration: none;
        color: #fff;
    }

    .button:active,
    .button.active {
        background-color: #b24f46;
        box-shadow: 0 2.5px #a9453c;
        transform: translateY(5px);
        outline: none;
        color: #fff;
    }
    .button:visited,
    .button:focus {
        outline: none;
        color: #fff;
        text-decoration: none;
    }

    p {
        font-size: 40px;
        margin-bottom: 30px;
    }

    p small {
        font-size: 21px;
        font-family: 'Montserrat-Light';
        margin-bottom: 30px;
    }
    .imgSec {
        float: right;
    }

/*--------------------------------
    #   Animation
----------------------------------*/

    .icon {
        position: relative;
        width: 340px;
        height: 415px;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
        float: right;
    }
    .victor {
        position: absolute;
        right: 20px;
        top: 251px;
        background: url('../img/victor5.png') no-repeat 0 0 scroll;
        width: 100%;
        height: 80%;
        z-index: 99;
    }
    .animation {
        background: rgba(0, 0, 0, 0) url("../img/animation3.png") no-repeat scroll 0 0;
        height: 100%;
        position: absolute;
        right: -96px;
        top: 62px;
        width: 100%;
        z-index: 9;
        -moz-animation: 2s ease 0s normal none infinite hand;
        -moz-transform-origin: 30% 80% 0;
        -webkit-animation:hand 1s infinite ease-in-out;
        -webkit-transform-origin:30% 80% 0;
        -o-animation: 2s ease 0s normal none infinite hand;
        -o-transform-origin: 30% 80% 0;
        -o-animation:hand 1s infinite ease-in-out;
        -o-transform-origin:30% 80% 0;
        -ms-animation: 2s ease 0s normal none infinite hand;
        -ms-transform-origin: 30% 80% 0;
        -ms-animation:hand 1s infinite ease-in-out;
        -ms-transform-origin: 30% 80% 0;
        animation: 2s ease 0s normal none infinite hand;
        transform-origin: 30% 80% 0;
        animation:hand 2s infinite ease-in-out;
        transform-origin: 30% 80% 0;
    }
    
    @-moz-keyframes hand {
        0%{-moz-transform:rotate(-4deg)}
        50%{-moz-transform:rotate(4deg)}
        100%{-moz-transform:rotate(-4deg)}
    }

    @-webkit-keyframes hand {
        0%{-webkit-transform:rotate(-4deg)}
        50%{-webkit-transform:rotate(4deg)}
        100%{-webkit-transform:rotate(-4deg)}
    }

    @-o-keyframes hand {
        0%{-o-transform:rotate(-4deg)}
        50%{-o-transform:rotate(4deg)}
        100%{-o-transform:rotate(-4deg)}
    }

    @-ms-keyframes hand {
        0%{-ms-transform:rotate(-4deg)}
        50%{-ms-transform:rotate(4deg)}
        100%{-ms-transform:rotate(-4deg)}
    }

    @keyframes hand {
        0%{transform:rotate(-4deg)}
        50%{transform:rotate(4deg)}
        100%{transform:rotate(-4deg)}
    }

/*--------------------------------
    #   Media Screen
----------------------------------*/

    @media screen and (max-width: 980px) {
        .heading {
            font-size: 80px;
        }
        p {
            font-size: 28px;
        }
        p small {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 768px) {
        .heading {
            font-size: 80px;
        }
        .icon {
            float: none;
        }
        .imgSec {
            text-align: center;
            float: none;
        }
        .content {
            text-align: center;
            padding-bottom: 15px;
        }
        p {
            font-size: 28px;
        }
        p small {
            font-size: 18px;
            width: 300px;
        }
        .victor {
            background-size: 61%
        }
        .animation {
            background-size: 55%;
            right: -78px;
            top: 69px;
            -moz-transform-origin: 42% 80% 0;
            -webkit-transform-origin:42% 80% 0;
            -o-transform-origin: 42% 80% 0;
            -o-transform-origin:42% 80% 0;
            -ms-transform-origin: 42% 80% 0;
            -ms-transform-origin: 42% 80% 0;
            transform-origin: 42% 80% 0;
            transform-origin: 42% 80% 0;
        }

    }
