/**
*
* Breadcrumb
*
**/

.ui-breadcrumbs { position: relative; z-index: 1; background-color: palette(primary); color: palette(white, light); text-align: center; text-transform: uppercase; font-size: 14px; letter-spacing: 0.04em; }
.ui-breadcrumbs ol { margin-top: 0; margin-bottom: 0; }
.ui-breadcrumbs .wrapper { padding-top: 0.8rem; padding-bottom: 0.8rem; }

.ui-breadcrumbs li { line-height: 20px; margin-right: 6px; display: inline-block; *float: left; }
.ui-breadcrumbs .breadcrumb-label,
.ui-breadcrumbs .breadcrumb-item { position: relative; z-index: 1; }
.ui-breadcrumbs .breadcrumb-item::before { line-height: 20px; content: "/"; display: inline-block; vertical-align: top; margin-right: 6px; }
.ui-breadcrumbs .breadcrumb-item.home::before,
.ui-breadcrumbs .breadcrumb-item:first-child::before { content: initial; }
.ui-breadcrumbs a { color: palette(primary, black); }
.ui-breadcrumbs .active,
.ui-breadcrumbs a:hover { color: palette(white); }



@media all and ( max-width:820px ){

    .ui-breadcrumbs li,
    .ui-breadcrumbs .breadcrumb-item::before { margin-right: 3px; }
    .ui-breadcrumbs .breadcrumb-label { display: none; }

}

@media all and (min-width: 1200px){
	.ui-breadcrumbs .breadcrumb-item { letter-spacing: 0.1em; }
	.ui-breadcrumbs .breadcrumb-item > span { font-weight: bold; }
}
