
.solicitar-acesso .btn-toggle { margin: 0 auto; display: block; text-transform: uppercase; }



.row.checked-service { margin-top: 0; }
.row.checked-service .col { padding-top: 0; }
.checked-service .col label { margin-bottom: 0; }
