/*
 * Heading
 */
.heading { margin-bottom: 1rem; }
.heading .title { color: palette(primary); text-transform: uppercase; letter-spacing: 0.08em; }
.heading .light { color: palette(primary, light); }

.heading .caption { margin-top: 0.35rem; letter-spacing: 0.08em; }




/* Header main */




@media all and (min-width: 680px){
	.heading { margin-bottom: 2rem; }
}

@media all and (min-width: 1080px){
	.heading .title { letter-spacing: 0.16em; }
}