

#map .state { cursor: pointer; outline: none; } 
#map .state:active { outline: none; } 
#map .state .shape { cursor: pointer; -width: 0; } 
#map .state .label_icon_state { fill: #fff; font-family: sans-serif; font-size: 11px; line-height: 12px; font-weight: normal; } 
#map .state .label_state { display: none; }



#map .state:hover .label_state, 
#map .state.hover .label_state { display: block; }

#map .state .shape { fill: palette(primary, black); @include transition; } 
#map .state .icon_state { fill: palette(primary); } 
#map .state .label_icon_state { fill: #fff; } 
#map .state .label_state { fill: palette(alternative, dark); } 

#map .state:hover .shape,
#map .state:hover .icon_state { fill: palette(alternative, dark); } 
#map .state:hover .label_icon_state { fill: palette(primary, dark); } 

// active
#map .state.is-active .shape,
#map .state.is-active .icon_state { fill: palette(primary, light); }
#map .state.is-active .label_icon_state { fill: palette(primary, dark); }



@media all and (max-width: 470px){
	.box-mapa { text-align: center; overflow: auto; margin-bottom: 1rem; background-color: palette(grey); }
	.box-mapa #map { width: 470px; @include transform(scale(0.9)); }
}