

/*
 * Paginação
 */

.ui-pagination { text-align: center; padding: 0.75rem 0; }
.pagination { width: auto; @include cf; margin: 0 auto; display: inline-block; vertical-align: middle; @include css3-prefix(display, inline-flex); }
.pagination li { display: inline-block; vertical-align: middle; }
.pagination li span,
.pagination li a { display: block; padding: 10px 4px; min-width: 20px; text-align: center; border: 1px solid palette(grey); margin: 2px; }
.pagination li span { border-color: palette(grey, light); color: palette(grey); }


/* active */
.pagination li a:hover { background-color: palette(dark); }
.pagination li a:hover,
.pagination li.active span { border-color: transparent; color: palette(white); }
.pagination li.active span { background-color: palette(alternative); cursor: default; }



/*  */
@media all and (min-width: 1200px){
	.ui-pagination { padding: 2rem 0; }
	.pagination li span,
	.pagination li a { min-width: 32px; margin: 3px; }
}
@media all and (max-width: 600px){

    .pagination li { font-size: 12px; }

}