

.slick-slider .slick-prev { left: 0; }
.slick-slider .slick-next { right: 0; }
.basic-slider.slick-slider .slick-prev { left: 2%; }
.basic-slider.slick-slider .slick-next { right: 2%; }

@media all and (max-width: 600px){
	.wrapper .slick-slider .slick-prev { left: -0.75rem; }
	.wrapper .slick-slider .slick-next { right: -0.75rem; }
}


.append-arrow .slick-arrow,
.slick-slider .slick-arrow { position: relative; z-index: 9; display: block; width: 52px; height: 72px; background: transparent; text-indent: -99rem; overflow: hidden; border: none; padding: 0; opacity: 0.4; @include transition;

	&:before { content: ""; position: absolute; left: 50%; top: 50%; z-index: 6; display: block; @include sprite(52px, 55px); @include transform(translate(-50%, -50%)); }

	&:hover { opacity: 1; }
}

.slick-slider .slick-next,
.slick-slider .slick-prev { position: absolute; top: 50%; @include transform(translateY(-50%)); }

.append-arrow .slick-prev,
.slick-slider .slick-prev {
	&:before { background-position: 0 -114px; }
}
.append-arrow .slick-next,
.slick-slider .slick-next { 
	&:before { background-position: -52px -114px; }
}






/* hide load slider */
.slick-slider > li:nth-child(1n+2),
.main-dash #slider-service > .feed-item:nth-child(1n+2) { display:none; }









/* controls */
.slick-slider .slick-dots { text-align: center; }
.slick-slider .slick-dots li { width: auto; height: auto; margin: 0 4px; display: inline-block; }
.slick-slider .slick-dots li button { border: none; background: none; text-indent: -32px; overflow: hidden; width: 18px; height: 18px; display: block; border: 2px solid palette(primary, light); @include border-radius(12px);

	&:before { content: ""; }

}
.slick-slider .slick-dots li button:hover { background-color: palette(dark); }
.slick-slider .slick-dots li.slick-active button { background-color: palette(primary); border-color: transparent !important; opacity: 1; }
.slick-slider .slick-dots li.slick-active button:focus { outline: none; }


@media all and (min-width: 880px){
	.slick-slider .slick-dots { line-height: 20px; }
	.slick-slider .slick-dots li { padding: 4px; }
}