
.ui-social { margin: 2rem 0 0; list-style: none; }
.main-footer .ui-social { margin-top: 1rem; }
.ui-social li { display: inline-block; margin: 4px; }
.ui-social li:last-child { margin-right: 0; }



.ui-social .social { text-decoration: none; position: relative; z-index: 1; min-height: 62px; padding: 0 0 4px; font-size: 12px; text-transform: uppercase; color: palette(white); display: block; vertical-align: middle; @include transition; text-align: center;
	
	&:before { content: ""; @include sprite(48px); opacity: 0.6; margin: 0 auto 6px; @include transition; display: block; }

	&:hover { color: palette(alternative); }

}

.ui-social .social.youtube,
.ui-social .social.youtube:before { width: 62px; }

$socialize: (
	(instagram, #4D423C, 0 0),
	(facebook, #3B5999, -48px 0),
	(youtube, #000, -96px 0)
);

@each $label, $hex, $pos in $socialize {

	.ui-social .social.#{$label}:before { background-position: $pos; }
	.ui-social .social.#{$label}:hover:before { opacity: 1; }

}



@media all and (min-width: 720px){
	.ui-social li { margin-right: 8px; }
}