

/*
 * Validation
 */
form.validate input,
form.validate select,
form.validate textarea {
    &.error { @include placeholder(){ color:lighten(palette(alert, error), 6) }; }
}




/* form msg status  */
.form-msg { color:#fff; display:none; visibility:hidden; background:palette(grey) no-repeat 10px 50%; @include transition; text-align:center; position:relative; z-index:1; border:1px solid transparent; }
.form-msg.show { padding:15px 5px; display:block; visibility:visible; }

.form-msg .icon { font-size:22px; color:palette(white); display:inline-block; vertical-align:middle; }
.form-msg .icon::before { vertical-align: middle; }
.form-msg .closed { width:28px; height:28px; position:absolute; top:50%; right:8px; margin-top:-14px; border:none; background-color:rgba(palette(white), 0.5); color:palette(dark); font-size: 24px; line-height: 24px; @include border-radius(2em); padding:0; @include box-shadow(0,0,5px,rgba(0,0,0,0.1)); vertical-align: top; font-family: sans-serif; }
.form-msg .closed:before { content: "×"; position: absolute; left: 50%; top: 50%; @include transform(translate(-50%, -50%)); }
.form-msg .closed:hover { color:palette(dark); }



$validStatus: (
    info:palette(alert, info),
    warning:palette(alert, warning),
    error:palette(alert, error),
    success:palette(alert, success)
);

@each $key, $value in $validStatus {

    .form-msg.#{$key} { background-color:$value; }
    .form-msg.#{$key} strong,
    .form-msg.#{$key} a { color:darken($value, 20); }

}

.form-msg.info { background-color:transparent; color:palette(alert, warning); border-color:palette(grey); }
.form-msg.warning .message { color:darken(palette(alert,warning), 30); }





/* Label error */
form.validate label.error { font-size: 14px; padding: 3px 6px; background-color: palette(alert, error); color: palette(white); transition: all 0.2s ease-out; line-height: normal; letter-spacing: 0.04em; }

@media all and (min-width: 600px){
	form.validate label.error { z-index: 2; position: absolute; left: 0.75rem; top: 100%; margin: -1.5rem 0 0 -1px; max-width: 100%; }
	form.validate label.error:before { content: ""; z-index: -1; position: absolute; left: 1rem; top: -6px; width: 12px; height: 12px; display: block; background-color: inherit; @include transform(rotate(45deg)); }
}