/* 
 * Fake file
 */
.fake-file { position: relative; z-index: 1; padding-right: 80px; overflow: hidden; }
.form label.fake-file { margin: 0; }
.fake-file input.file { position: absolute; z-index: -1; opacity: 0; padding: 0; height: 70%; width: 90%; }
.fake-file .fake-button { position: absolute; top: 8px; right: 8px; bottom: 8px; background-color: palette(grey, dark); display: block; padding: 14px 20px 12px; display: flex; align-items: center; justify-content: center; font-size: 1rem; line-height: 1.2; border-radius: 24px; }
.fake-file .fake-button .icon { display: none; }
.fake-file .filename { margin-top: 10px; display: block; white-space: nowrap; line-height: 1; }



.fake-file .fake-button:hover { background-color: palette(alternative, light); color: palette(white); }


.fake-file input.file.valid ~ {
    .fake-button { color: palette(dark); background-color: palette(white); }
}

@media all and (min-width: 1200px){
    .fake-file .fake-button { letter-spacing: 0.06em; text-transform: uppercase; }
    .fake-file .filename { margin-top: 10px; }
}