

/* 
 * Definitions 
 */
%field { width: 100%; background: palette(grey) no-repeat; color: palette(dark); border: 1px solid transparent; padding: 0.35rem; letter-spacing: 0.04em; @include box-sizing;

    &.error { border-color: palette(alert, error); outline: 1px solid palette(alert, error); }
    &.valid { border-color: palette(alert, success); outline: 1px solid palette(alert, success); background-color: palette(alert, success); color: palette(white); }

    &:focus { color: palette(dark); border-color: palette(alternative); background-color: palette(white); outline: none; transition: all 0.2s ease-out; }
    &:focus ~ label.error { opacity: 0; visibility: hidden; }

}
%fieldInline { height: 48px; }
%fieldSubmit { background-color: palette(dark); color: palette(white); border-width: 0; }




/* 
 * All forms
 */
form fieldset { padding: 0; border: none; }
form input, form select, form textarea, form button { @extend %field; }
form input, form select, form textarea { @include placeholder { font-style: italic; opacity: 0.4; }; }
form input, form select, form button[type="submit"] { @extend %fieldInline; }
form textarea { min-height: 52px; max-height: 420px; resize: vertical; display: block; }


@import './input';
@import './select';
@import './submit';
@import './alert';



/* Form label */
.form .field { position: relative; z-index: 1; }
form .field label { min-height: 18px; margin-bottom: 4px; display: block; }


.form .feed-list.row { margin-top: 0; margin-bottom: 0; }
.form .feed-list.row .col { padding-bottom: 0; }


@media all and (min-width: 640px){

    %field { padding: 0.75rem; font-size: 1.1rem; }
    %fieldInline,
    %fieldSubmit { height: 58px; }
    %fieldSubmit { font-size: 1.4rem; letter-spacing: 0.04em; font-weight: bold; }

}

@media all and (min-width: 1200px){

    %fieldInline,
    %fieldSubmit { height: 66px; }

}