// Mixin to create buttons
@mixin style-button($color, $textColor, $isInverted: false) {

    background: $color;
    color: $textColor;
    border-coloe: darken($color, 10%);

    @if $isInverted { border-color: transparent;}

}


%button {
    display: inline-block;
    padding: 12px 20px 8px;
    margin-bottom: $gutter / 2;
    margin-top: $gutter / 2;
    min-height: $gutter;

    text-align: center;
    font-weight: 400;

    text-decoration: none;
    background-color: transparent;

    outline: 0;
    @include transition;
    @include box-sizing;

    &:hover {
        background: palette(alternative);
        color: palette(white);
        text-decoration: none;
    }
}


/**
*
* Button
*
**/

.btn {
    @extend %button;
    
    position: relative;
    z-index: 1;

    color: palette(white);

    border: none;
    @include border-radius(32px);
    background-color: palette(primary);
    line-height: 1.2;

    &:hover { background-color: palette(dark); }
}


/* Color buttons */

.btn.alternative { background-color: palette(alternative); color: palette(white);
    &:hover { background-color: palette(alternative, dark); }
}
.btn.white { background-color: palette(white); color: palette(alternative);
    &:hover { background-color: palette(alternative, dark); }
}
.btn.grey { background-color: palette(grey); color: palette(dark);
    &:hover { background-color: palette(grey, dark); }
}
.btn.dark { background-color: palette(dark); color: palette(white);
    &:hover { background-color: palette(dark, dark); }
}
.btn.primary { background-color: palette(primary); color: palette(white);
    &:hover { background-color: palette(primary, dark); }
}
.btn.primary-light { background-color: palette(primary, light); color: palette(dark);
    &:hover { background-color: palette(primary); }
}
.btn.positive { background-color: palette(positive); color: palette(white);
    &:hover { background-color: palette(positive, dark); }
}
.btn.negative { background-color: palette(negative); color: palette(white);
    &:hover { background-color: palette(negative, dark); }
}


/* Style / outline */
.btn.outline { @extend %button; background-color: transparent; border: 2px solid palette(alternative); color: palette(alternative);
    &:hover { border-color: transparent; background-color: palette(alternative); color: palette(white); }
}
.btn.outline.white { border-color: palette(white); color: palette(white);
    &:hover { border-color: transparent; background-color: palette(alternative, dark); color: palette(white); }
}
.btn.outline.grey { border-color: palette(grey); color: palette(grey, dark);
    &:hover { border-color: transparent; background-color: palette(grey, dark); color: palette(white); }
}
.btn.outline.dark { border-color: palette(dark); color: palette(dark, dark);
    &:hover { border-color: transparent; background-color: palette(dark, dark); color: palette(white); }
}
.btn.outline.primary { border-color: palette(primary); color: palette(primary);
    &:hover { border-color: transparent; background-color: palette(primary); color: palette(white); }
}
.btn.outline.positive { border-color: palette(positive); color: palette(positive);
    &:hover { border-color: transparent; background-color: palette(positive); color: palette(white); }
}
.btn.outline.negative { border-color: palette(negative); color: palette(negative);
    &:hover { border-color: transparent; background-color: palette(negative); color: palette(white); }
}




@media all and (min-width: 720px){
    %button { padding: 16px 32px 12px; letter-spacing: 0.06em; }
}

@media all and (min-width: 1200px){
    %button { letter-spacing: 0.1em; }
}





/* full button */
.block { display: block; width: 100%; }